[2020-07-21 11:19] NikCharlebois commented on #686
This seems like a bug in the MSCloudLoginAssistant dependency (https://GitHub.com/Microsoft/MSCloudLoginAssistant). I will investigate.

[2020-07-21 11:21] NikCharlebois commented on #687
@MarinoValentino is the tenant's name ending with .com or .de? Thanks

[2020-07-21 11:23] NikCharlebois commented on #688
@rpl-io It appears that you may be using an old version of PowerShell. Try updating the PackageManagement component first by running:

Install-Module PackageManagement -Force

Once installed, then try running Install-M365DSCDevBranch again. Please let us know if that solves the issue. Thanks

[2020-07-21 11:31] #664 closed

[2020-07-21 11:34] #668 closed

[2020-07-21 12:07] NikCharlebois commented on #639
Trying to follow-up on this. Can any of you confirm that you still have the issue in the latest version released last thursday? 1.20.716.1
Thanks

[2020-07-21 12:50] rpl-io commented on #688
Hi Nik,

Unfortunately the same error appears after running  Install-M365DSCDevBranch en closing the PS window.

Regards,
Remy

[2020-07-21 13:20] NikCharlebois commented on #688
The Warnings can be safely ignored. Those are triggered by the PnP and PowerApps modules because they use unapproved verbs.

If you run:
(Get-Command Install-Module).Parameters

Do you see the AllowPrerelease parameter listed? If not, what version do you get when running:

 Get-Module PackageManagement -ListAvailable | Select Version

[2020-07-21 13:28] rpl-io commented on #688
No I don't see it.

Get-Module PackageManagement -ListAvailable | Select Version

Version
-------
1.4.7
1.0.0.1

[2020-07-21 13:31] NikCharlebois commented on #688
Ok, let's try updating PowerShellGet then if you don't see it:

Install-Module PowerShellGet -Force

[2020-07-21 13:44] rpl-io commented on #688
Install-Module PowerShellGet -Force

results in:

WARNING: The version '1.4.7' of module 'PackageManagement' is currently in use. Retry the operation after closing the
applications.

Issue is persistent after reboot and multiple PC's

[2020-07-21 13:47] NikCharlebois commented on #688
What OS Version are you using? AllowPrerelease has been part of PowerShell for years now:
https://docs.microsoft.com/en-us/powershell/scripting/gallery/concepts/module-prerelease-support?view=powershell-7

[2020-07-21 13:51] rpl-io commented on #688
Windows 10 - 1909

[2020-07-21 14:25] #688 closed

[2020-07-21 18:11] rpl-io opened #695 "Export-M365DSCConfiguration - EXO - Crash on [20/43] Extracting [EXOInboundConnector]"
#### Details of the scenario you tried and the problem that is occurring

When running Export-M365DSCConfiguration the script stops on EXOInboundConnector

[20/43] Extracting [EXOInboundConnector]...
    |---[1/1] Receive from Exclaimer Cloud v2❌ Logging a new Error

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce th

[2020-07-21 19:40] twj commented on #639
yes, it works with the latest version. I do not have the issue any more. Thanks a lot Nik!

[2020-07-21 20:49] DeanGross opened #697 "ResourceName : New install - still prompting for module update"
#### Details of the scenario you tried and the problem that is occurring
I updated the M365DSC module today and when Extracting ODSettings, i got a message that  a newer version of PnP powershell is available: 3.23.2007.1.
#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

###

[2020-07-21 20:56] DeanGross commented on #639
no luck for me, still getting an empty excel file

[2020-07-22 10:13] nlangsto opened #698 "SfBWithTeamsCollabAndMeetingsWithNotify & TeamsVoiceRoutingPolicy requiring Destination Path"
Asking me for a destination path, it did it for TeamsVoiceRoutingPolicy too.

    [10/10] SfBWithTeamsCollabAndMeetingsWithNotify
WARNING: "OriginalRegistrarPool" with identity "1903724638" assigned to "sip:xxxxxxxxxxxxxxxxxx" has been
removed from configuration store.
WARNING: "TeamsMeetingBroadcastPolicy" with identity "1000000002" assigned to "sip:xxxxxxxxxxxxxxxxxxxxx" has
been removed from co

[2020-07-22 10:29] nlangsto commented on #698
It should default to the current directory if nothing specified.

[2020-07-22 11:14] bubbletroubles opened #699 "M365DSC Dev branch via Azure DevOps Pipeline fails to load - Microsoft.Graph.Authentication"
#### Details of the scenario you tried and the problem that is occurring
When using Azure DevOps pipeline with the following config, the output fails. A previous bug #668 fixed something, but now there is a new error message.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

[2020-07-22 14:29] NikCharlebois commented on #699
Can you try again if you get a chance, we've updated the Graph dependencies earlier today. Thanks

[2020-07-22 14:30] NikCharlebois commented on #697
@DeanGross this is expected. It is only a warning and it's controlled by the PnP team and not the M365DSC team.

[2020-07-22 14:30] #697 closed

[2020-07-22 14:33] desmay commented on #669
@bubbletroubles Can you try again with latest dev branch ?

[2020-07-22 15:30] DavidCloudSide opened #702 "Export-M365DSCConfiguration -Quiet fails at Extracting [EXOApplicationAccessPolicy]"
#### Details of the scenario you tried and the problem that is occurring

     When I run the following command, the script fails at Extracting [EXOApplicationAccessPolicy]
    Command: Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $creds
    Error: Der Vorgang konnte nicht ausgeführt werden, weil das Objekt 'OU=HIDDEN.onmicrosoft.com,OU=Microsoft
    Exchange Hosted
    Organizations,DC=

[2020-07-22 21:47] NikCharlebois commented on #695
If you look at the error log (generated in the folder where the command was executed from) what is the error?

[2020-07-22 23:24] bubbletroubles commented on #699
@NikCharlebois I re-ran it today and its got a different error now

[code]

[2020-07-23 07:09] twj commented on #639
Hi @DeanGross, may be you have to remove the module first and then install and import the latest version again. Pls make sure,
that you only have the latest version.

![image](https://user-images.githubusercontent.com/2351883/88260135-123f0e00-ccc4-11ea-9a1c-1d22f6c197ce.png)

[2020-07-23 10:59] bubbletroubles commented on #669
@desmay I need to get the dev branch working via Azure DevOps to test - that issue is raised as #699

[2020-07-23 11:26] bubbletroubles opened #706 "O365User: Error when no license is specified"
#### Details of the scenario you tried and the problem that is occurring
I'm trying to set a user to have a password that never expires.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
Update O365User so it doesn't error when no licence is specified.

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operat

[2020-07-23 11:56] DeanGross commented on #639
@twj Danke, that solved the problem.

[2020-07-23 11:56] #639 closed

[2020-07-24 15:44] MarinoValentino commented on #687
@NikCharlebois no, it's "onmicrosoft.com" with some custom domains

[2020-07-26 00:39] MichaelLaMontagne commented on #639
Latest version solved it here also.

[2020-07-26 12:45] NikCharlebois commented on #699
Can you share your YAML pipeline? I'll try replicate in our environment. Thanks

[2020-07-26 12:47] NikCharlebois commented on #702
Are you able to run:

Connect-ExchangeOnline -Credential $creds

Do you get the same error? Thanks

[2020-07-26 12:57] NikCharlebois commented on #671
@Kikaider What happens if you:

1 - Run:
    $creds = Get-Credential
    Test-MSCloudLogin -Platform PnP -CloudCredential $creds
    Get-PnpApp

2 - Run:
    $creds = Get-Credential
    Get-SPOAdminUrl -CloudCredential $creds

[2020-07-26 20:41] bubbletroubles commented on #699
The pipeline is as follows

[code]

[2020-07-27 07:29] DavidCloudSide commented on #702
Good morning

Running the command ‘Connect-ExchangeOnline -Credential $creds’ doesn’t end in an error. But I get the information about more reliable cmdlets.

I had some more troubles with other Modules:
o    EXOApplicationAccessPolicy (already reported)
o    EXOInboundConnector
o    Planner --> All

This was when I run with the GUI.
I will try it with the dev-version of the module as a next step.

[2020-07-28 14:03] nlangsto opened #713 "EXOAvailabilityAddressSpace"
## Details of the scenario you tried and the problem that is occurring
Simple extract using GUI with default settings

#### Verbose logs showing the problem

[13/103] Extracting [EXOAvailabilityAddressSpace]...
    |---[1/1] domxxxxxxxxxxxnco.co.uk❌ Logging a new Error

[2020/07/28 02:35:25]
{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot bind argument to par

[2020-07-30 11:17] #706 closed

[2020-07-30 14:25] hmank opened #722 "Cannot validate argument on parameter 'PercentComplete'"
#### Details of the scenario you tried and the problem that is occurring
I was exporting - Teams Channel, Teams Team, Teams User for a large tenant. It threw an error after reaching 110% of completion, but didn't complete the export.

#### Verbose logs showing the problem
[2020/07/29 04:40:53]
{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot validate argument

[2020-07-30 15:44] NikCharlebois opened #723 "EXOMobileDeviceMailboxPolicy issue when MinPasswordLength is not specified"
The issue is two fold:

1 - The resource throws an error trying to create a new policy if MinPasswordLength is not specified

2 - The Export-TargetResource doesn't seem to extract the MinPasswordLength property

[2020-07-31 20:52] Logonza0917 opened #726 "Instructions on new GUI Fields"

[2020-08-03 21:23] RobBiddle opened #729 "Export-M365DSCConfiguration failing on various resources in default selection list"
#### Details of the scenario you tried and the problem that is occurring
Running Export-M365DSCConfiguration and using the default resource selections is failing.

#### Verbose logs showing the problem
**EXOInboundConnector** & **EXOOutboundConnector** fail with the following error:

{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot bind argument to parameter '

[2020-08-03 22:03] RobBiddle opened #730 "Export-M365DSCConfiguration GUI does not display properly with high display scaling"
#### Details of the scenario you tried and the problem that is occurring
When running Export-M365DSCConfiguration the scaling seems to be derived from the console from which it was launched.  If Windows is set to use greater than 100% scaling the results are not optimal.  When going over 150% it becomes almost unusable.

#### The operating system the target node is running
OsName : Microsoft Windo

[2020-08-04 09:14] nlangsto commented on #729
same as #713

[2020-08-04 11:27] NikCharlebois commented on #729
@nglangsto & @RobBiddle can you confirm that you are only passing in the Tenant Admin and password parameters from the GUI? Thanks

[2020-08-04 12:07] nlangsto commented on #729
That's a yes from me, with MFA prompt after, all very simple and 'default'. Happy to do screen share, I have spare time in 1hr.

[2020-08-04 12:29] #723 closed

[2020-08-04 12:55] bogdanpaste commented on #729
Hello, same problem here with the Inbound and Outbound connectors. Same OS
And we are passing only the tenant admin and password from the GUI

[2020-08-04 14:48] NikCharlebois commented on #729
Thanks folks, we are trying to get a repro on our end. If you launch the GUI, only select EXOInboundConnector & EXOOutboundConnector and only provide Tenant Admin and Password, do you get the error on every run? Thanks

[2020-08-04 14:54] nlangsto commented on #729
Yep, errors

PS C:\Users\micro> Export-M365DSCConfiguration                                                                          WARNING: The names of some imported commands from the module 'Microsoft.PowerApps.Administration.PowerShell' include    unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the            Import-Module command again

[2020-08-04 14:58] nlangsto commented on #729
same when only selecting EXOAvailabilityAddressSpace

PS C:\Users\micro> Export-M365DSCConfiguration
[1/1] Extracting [EXOAvailabilityAddressSpace]...
    |---[1/1] domixxxxxxxxxxxxxxx.uk❌ Logging a new Error
PS C:\Users\micro>

[2020/08/04 03:57:56]
{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot bind argument to parameter 'ResourceName' because it is an emp

[2020-08-04 15:09] NikCharlebois commented on #729
We managed to repro, and identified the source of the issue, at least for the EXO resources.

@RobBiddle We also believe we have a fix for the SC Compliance Search Action, but will ask you to test once the PR is approved and merged.

[2020-08-04 15:26] #713 closed

[2020-08-04 15:27] NikCharlebois commented on #729
Reopening since it was automatically closed from  PR merge. @nlangsto could you please grab the latest version from GitHub (Dev Branch), and confirm it if works. Thanks

[2020-08-04 16:51] nlangsto commented on #729
sorry, didnt work for me.

ran Install-M365DSCDevBranch with admin, closed ps
then ran Export-M365DSCConfiguration with only EXOAvailabilityAddressSpace selected

PS C:\WINDOWS\system32> Export-M365DSCConfiguration
[1/1] Extracting [EXOAvailabilityAddressSpace]...
    |---[1/1] domxxxxxxxxxxxuk❌ Logging a new Error

[2020/08/04 05:48:53]
{InvalidData}
System.Management.Automation.ParameterBindingV

[2020-08-04 16:57] RobBiddle commented on #729
@NikCharlebois looks like those changes fixed extraction for **EXOInboundConnector** & **EXOOutboundConnector**, thanks!

**SCComplianceSearch** is still failing
At C:\Users\rbiddle\Office365DSC\Modules\Microsoft365DSC\DSCResources\MSFT_SCComplianceSearchAction\MSFT_SCComplianceSearchAction.psm1:485 char:17
+         $return $null
+                 ~~~~~
Unexpected token '$null' in expression or s

[2020-08-04 17:11] RobBiddle opened #735 "Export-M365DSCConfiguration GUI selection oddities"
### Details of the scenario you tried and the problem that is occurring
"Lite" and "Default" Extraction Modes both leave SPOHubSite selected when unchecking the SharePoint group.
"Full" Extraction Mode does this as well but also leaves SPOSite selected.

#### The operating system the target node is running
OsName : Microsoft Windows 10 Enterprise
OsOperatingSystemSKU : EnterpriseEdition
OsArchitec

[2020-08-05 08:59] nlangsto commented on #729
Sorry, tried again today updating dev branch again

[12/103] Extracting [EXOAtpPolicyForO365]...
    |---[1/1] ✅
[13/103] Extracting [EXOAvailabilityAddressSpace]...❌ Logging a new Error
✅
[14/103] Extracting [EXOAvailabilityConfig]...❌ Logging a new Error
PS C:\a_dsc>

[2020-08-05 15:13] desmay commented on #525
@NikCharlebois You can assign this to me

[2020-08-05 17:14] Kikaider opened #738 "AzureADPreview - The current processor architecture is: x86: Surface Pro X (ARM)"
#### Details of the scenario you tried and the problem that is occurring
When importing _Import-Module Microsoft365DSC_ in a admin PowerShell ISE or Visual Studio Code window on a Surface Pro X (ARM processor), I get the error:

The current processor architecture is: x86. The module 'C:\...AzureADPreview\2.0.2.102\AzureADPreview.psd1' requires the following architecture: Amd64.

The Microsoft365DS

[2020-08-05 17:23] NikCharlebois commented on #738
Very interesting, I never thought of this scenario. Off course it is related to AzureADPreview and there is not much we can do about it, but I appreciate you reporting it as it helps build our Knowledge base. At some point we will be revisiting all resources to have them leverage the MS Graph directly (or via the PowerShell Graph SDK), at which point this issue should be solved.

[2020-08-05 17:23] #738 closed

[2020-08-06 12:59] Kikaider commented on #671
I apologize for the delay. A recent change to EndPoint Management at my org means my BYOD device is denied because it is not managed. My managed device is an ARM device and can't use AzureADPreview module due to the x86 v. Amd64 issue.

On my BYOD device, I was prompted for my password again and likely MFA if it had made it that far.

I am trying to come up with a workaround to either the BYOD com

[2020-08-06 16:28] HaloX69 commented on #472
I am using the example SPOSITE configuration provided in the module just changing the url to reflect my tenant domain. I’ve not changed anything just trying to get a baseline config to work.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nik Charlebois <notifications@github.com>
Sent: Monday, May 4, 2020 6:19:43 PM
To: microsoft/Microsoft365DSC <Microsoft365DSC@

[2020-08-06 18:28] desmay commented on #472
@HaloX69 We did release support for service principals for SharePoint. You can use 2 different methods. You can pass in TenantID,ClientId,CertificateThumprint or TenantID, Client ID, CertificatePath and CertificatePassword.

We are working on documentation for using service principals and hope to have it done soon.

[2020-08-06 18:51] #513 closed

[2020-08-06 23:06] RobBiddle commented on #729
@NikCharlebois
FYI I pulled down the latest from the master branch. 1.20.805.1
Same error for SCComplianceSearchAction:

[code]

The Verbose console output shows:
[code]

[2020-08-10 09:34] SebastianGoers commented on #666
Hi @NikCharlebois , this is the Public Cloud and no, the account is not MFA enabled. I will give it another try today.

[2020-08-10 09:35] SebastianGoers commented on #685
I installed the Module using Install-Module and then I updated to the dev branch.

[2020-08-10 10:49] SebastianGoers commented on #702
Same issue here. Running the latest prod version of M365DSC.

[2020-08-12 13:23] SebastianGoers commented on #686
As a workaround I changed the UPN to its onmicrosoft.com equivalent. This solves the issue as this UPN ends on .com .

[2020-08-17 19:21] BriskWinter commented on #637
Is there no other way around this? Error will prevent adoption since many systems running this will not have internet explorer ran previously.

[2020-08-19 20:55] dinocaputo opened #742 "Assert-M365DSCTemplate -TemplateName "Teams-M365Business-Baseline" Throws Error"
Running the Assert-M365DSCTemplate -TemplateName "Teams-M365Business-Baseline"  or the Assert-M365DSCTemplate -TemplatePath .\Teams-M365Business-Baseline.M365 throw errors:

`PS C:\users\dinoc\OneDrive\Dsc> Assert-M365DSCTemplate -TemplateName "Teams-M365Business-Baseline"                                                                                      out-lineoutput : The cloud operation was

[2020-08-20 14:54] markroloff commented on #85
Hey guys!

Anybody actively working on this? I've been using my own scripts to handle migrating groups between tenants but have been meaning to cut my teeth on writing DSC resources, as I feel like it'd work better. Happy to take a stab at it!

[2020-08-20 16:50] jeff29922 commented on #85
@markroloff I don't think anyone is actively working on this, please feel free to take a shot at it.

[2020-08-21 10:48] SebastianGoers opened #743 "[SCFilePlanPropertyCitation] too long when exporting config"
#### Details of the scenario you tried and the problem that is occurring
Exporting tenant config with
Export-M365DSCConfiguration -Quiet -Workloads @("O365","OD","PP","SC","SPO","TEAMS") -GlobalAdminAccount $cred

#### Verbose logs showing the problem
Extracting [SCFilePlanPropertyCitation]...Name: The length of the property is too long. The maximum length is 64 and the length of the value provide

[2020-08-24 06:13] Madhu-21 opened #744 "MSFT_TeamsClientConfiguration is missing AllowEgnyte"

[2020-08-24 06:30] Madhu-21 commented on #744
![image](https://user-images.githubusercontent.com/19767962/91011071-fc0bd100-e626-11ea-9d01-7b57d74fc62f.png)
![image](https://user-images.githubusercontent.com/19767962/91011156-23629e00-e627-11ea-9b14-497d4f9218af.png)

[2020-08-24 11:01] vinkobedek opened #745 "TeamsChannel issue when using app authentication"
#### Details of the scenario you tried and the problem that is occurring
1. called `Export-M365DSCConfiguration -ApplicationId $appId -CertificateThumbprint $certThumbprint -TenantId $tenantId -Quiet -Path C:\temp\dsc\test-new -ComponentsToExtract @("chckTeamsChannel")`

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
The issue seems to be that `GlobalAdminAccount

[2020-08-24 19:38] klawrawkz opened #746 ""PlannerBucket?" What's a PlannerBucket, and Why Prompt For ApplicationId and CertificateThumbprint?"
I'm a newb so apologies if my question is ... well a newbie one. After the configuration extract process runs for a while, the **_Extracting [ODSettings]..._** operation starts. At this point I'm getting prompted to insert values for:

The command syntax i provide is the following:
[code]
Providing the TenantId is east b/c I know this. On the other hand values for **_ApplicationId_** and **_Certif

[2020-08-24 20:17] klawrawkz commented on #746
So I may have gotten a bit further in answering the question, "What PlannerBucket?" This relates to the Microsoft "Planner" app in M365. This makes sense as Planner has "Buckets" and so on. Why are we being prompted for the Id values though? Is something misconfigured on my end?

[2020-08-25 17:00] MattAlberga commented on #746
Hello klawrawkz

My understanding of this is:
To export Planner and its contents one needs to build a azure app with Group.ReadWrite.All "application" permissions.

I followed the above document to build the app:
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal

Once you have the App built you then will see a application ID/ tenant ID listed in

[2020-08-26 15:22] fs366e2spm commented on #472
Hi, could you please provide more (detailed) information or description on how to get Microsoft365DSC to run in a Runbook?
Would be great - thanks

[2020-08-28 13:58] SebastianGoers opened #749 "[EXOSharedMailbox] Mailbox aliases will not get corrected when a drift is detected"
#### Details of the scenario you tried and the problem that is occurring
When an alias is defined for a shared mailbox (e.g. in multi domain environments) but the config only contains the primary SMTP address, Get-TargetResource will report a configuration drift. This is expected. However, Set-TargetResource will not remove the alias. Thus, Test-TargetResource will always report a configuration dr

[2020-08-28 15:11] EricHindrichsen opened #750 "MSFT_O365User: Creating new user fails when "LicenseAssignment" array is empty"
#### Details of the scenario you tried and the problem that is occurring
We are using Microsoft365DSC within Azure DevOps Pipelines to make sure certain break-glass accounts for our tenant are never changed or deleted. These accounts don't need any licenses by default - they'll be assigned only during the time they'll actually be used.

These accounts are being created and maintained using the MSF

[2020-08-31 12:17] NikCharlebois opened #752 "SCComplianceSearchAction Action of Value 'Preview' not supported"
#### Details of the scenario you tried and the problem that is occurring
When doing an export, if a Compliance Search Action with Action value 'Preview' is encountered, the export process fails.

#### Verbose logs showing the problem
[2020/08/27 11:26:35]
{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot validate argument on parameter 'Action'. The argument "Pr

[2020-09-01 09:37] nlangsto commented on #729
Any update? DSC is unusable for me. Cheers

[2020-09-01 18:30] NikCharlebois commented on #749
Thanks @SebastianGoers to make it easier for the dev team to troubleshoot and fix, is there a way for you to provide a bogus example of a configuration that would exhibit this behavior? Thanks

[2020-09-01 19:42] #750 closed

[2020-09-01 19:42] #752 closed

[2020-09-02 07:57] SebastianGoers commented on #749
Hi @NikCharlebois ,

sure, we have a Target Configuration like this:

[code]

Let's assume we have a defined an alias for said mailbox in EXO admin:

![image](https://user-images.githubusercontent.com/59373302/91954493-2b46d000-ed02-11ea-9e9b-9449649ccbf5.png)

(We actually had this alias defined when renaming the mail address of the FMB to circumvent https://github.com/microsoft/Microsoft365DSC/i

[2020-09-02 14:01] NikCharlebois commented on #493
@paweber8 any updates on this? If not, can we put it back in the To Do bucket for someone else to pick it up? Thanks

[2020-09-02 16:16] klawrawkz commented on #746
Thanks @MattAlberga I'll try that and see how it goes.

[2020-09-02 16:59] Jimnar opened #758 "SCSensitivityLabel: Cannot process argument transformation on parameter 'EncryptionRightsDefinitions'."
#### Details of the scenario you tried and the problem that is occurring
Trying to create a sensitivity that applies permissions to entire tenant, not a specific user or group. The file I used was generated using the Export-m365dscconfiguration cmdlet, compiled using target tenant creds, and deployed using Start-dscconfiguration. I made no manual edits to the file. All the sensitivity labels that

[2020-09-02 17:34] NikCharlebois commented on #742
@dinocaputo Assert-M365DSCTemplate is being deprecated in favor of the new Assert-M365DSCBlueprint. Please try the latest, thanks

[2020-09-02 17:34] #742 closed

[2020-09-02 17:35] NikCharlebois commented on #685
@SebastianGoers Are you still seeing the same strange behavior with the latest version? Thanks

[2020-09-02 17:37] NikCharlebois commented on #743
@SebastianGoers Are you able to successfully run:

Test-MSCloudLoginAssistant -Platform SecurityComplianceCenter
Get-FilePlanPropertyCitation

This error seems to be coming from the API and not from M365DSC unfortunately.

[2020-09-02 17:46] NikCharlebois commented on #744
Thanks for reporting. A PR has been submitted which will include this new property.

[2020-09-02 17:48] NikCharlebois commented on #644
@Albandrod When doing the Export, are you using a '@[...].**onmicrosoft.com** email address? If not, could you give that a try and see if it fixes your issue? Thanks

[2020-09-02 17:58] NikCharlebois commented on #656
@bubbletroubles @Kikaider is this still an ongoing issue with the latest versions? Have we nailed it down to Conditional access? Thanks

[2020-09-02 18:13] desmay commented on #758
@Jimnar I'll take a look at this issue

[2020-09-02 18:13] #735 closed

[2020-09-02 18:13] #744 closed

[2020-09-02 18:13] #745 closed

[2020-09-02 18:24] NikCharlebois commented on #659
@CFStephenHale Are you still able to replicate this issue using the latest version? The team has not been able to Repro unfortunately.

[2020-09-02 18:35] NikCharlebois commented on #660
@bubbletroubles are you still having this issue with the latest version? Thanks

[2020-09-02 18:35] NikCharlebois commented on #726
An updated and more intuitive GUI has been released with 1.20.902.1. Thanks

[2020-09-02 18:35] #726 closed

[2020-09-02 18:37] NikCharlebois commented on #730
@RobBiddle with what console are you seeing this behavior? We recommend using the following consoles in order of priority:

1 - Windows Terminal
2 - Classic PowerShell Console
3 - ISE
4 - VSCode

ISE is known to have a lot of issues rendering items

[2020-09-02 18:38] NikCharlebois commented on #729
This has been fixed within the latest version 1.20.903.1. Thanks

[2020-09-02 18:38] #729 closed

[2020-09-02 18:45] NikCharlebois commented on #699
Is this a hosted Azure DevOPS agent?

[2020-09-02 18:57] #722 closed

[2020-09-02 19:14] nlangsto opened #763 "Extracting [EXOAvailabilityAddressSpace] Logging a new Error. Cannot bind argument to parameter 'ResourceName' because it is an empty string."
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The operating system the target node is running
OsName               : Microsoft Windows 10 Enterprise
OsOperatingSystemSKU : EnterpriseEdition
OsArchitecture       : 64-bit
WindowsVersion       : 2004
WindowsBuildLabEx    : 19041.1.amd64fre.vb

[2020-09-02 19:16] nlangsto commented on #695
Im getting similar too but for

[13/101] Extracting [EXOAvailabilityAddressSpace]...
    |---[1/1] dxxxxxo.nxxxxxxxxo.co.uk❌ Logging a new Error

Installed dev branch today 2nd sept.

[2020/09/02 08:08:13]
{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot bind argument to parameter 'ResourceName' because it is an empty string.
   at System.Management.Automation

[2020-09-02 19:16] #702 closed

[2020-09-02 19:17] nlangsto commented on #729
Sorry, not fixed for me. Using todays dev branch. Ive opened up another
case as I cannot comment on this one.

On Wed, 2 Sep 2020 at 19:38, Nik Charlebois <notifications@github.com>
wrote:

--

________________
Neil Langston
+447957336344

[2020-09-02 19:18] NikCharlebois commented on #763
Ok, different error than what @RobBiddle was getting at the end of #729 . Will investigate.

[2020-09-02 19:21] bubbletroubles commented on #699
**The operating system the target node is running**
Microsoft hosted agent "windows-2019"

[2020-09-02 19:44] nlangsto commented on #763
Ta, reported in #713 too, somehow got mixed up.

[2020-09-02 20:09] NikCharlebois commented on #713
@nglangsto I am not able to replicate the issue. Using 1.20.902.1, I tried:

1 - launch a brand new PoSh Console
2 - Run Export-M365DSCConfiguration
3 - Unselect everything BUT EXOAvailabilityAddressSpace
4 - Provide username and Password and click Start Extraction.

My account is a global admin without MFA. Can you confirm that the steps above give you the error?

[2020-09-02 20:10] NikCharlebois commented on #763
@nglangsto I am not able to replicate the issue. Using 1.20.902.1, I tried:

1 - launch a brand new PoSh Console
2 - Run Export-M365DSCConfiguration
3 - Unselect everything BUT EXOAvailabilityAddressSpace
4 - Provide username and Password and click Start Extraction.

My account is a global admin without MFA. Can you confirm that the steps above give you the error?

[2020-09-02 20:17] nlangsto commented on #763
same error, only difference is I am using MFA. PIM enabled too, but ive elevated a few hours go with 8 hour period.

[2020/09/02 09:15:31]
{InvalidData}
System.Management.Automation.ParameterBindingValidationException: Cannot bind argument to parameter 'ResourceName' because it is an empty string.
   at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext funcCon

[2020-09-02 20:29] NikCharlebois commented on #763
Ok, still cannot replicate with MFA. Out of curiosity, is the account used a .onmicrosoft.com or something else?

[2020-09-02 20:32] nlangsto commented on #763
nah, using vanity name....

admin.<my.name>@<domain>.co.uk

happy to do screen share if it helps.

oddly happens on a couple of tenants, well ive only tried on two. So maybe machine related.

[2020-09-02 20:42] NikCharlebois commented on #763
Any chances you could try with a .onmicrosoft.com one to see if that actually lets you through?

[2020-09-02 20:44] nlangsto commented on #763
had added a MOERA alias to my account and trying, not working yet. (not triggering MFA yet)
Will try another account if that doesnt work soon.

[2020-09-02 20:49] nlangsto commented on #763
sorry, brand new account with MFA setup, only MOERA address with GA, same issue

PS C:\WINDOWS\system32> Export-M365DSCConfiguration
[1/1] Extracting [EXOAvailabilityAddressSpace]...Using ConnectionUri:'https://outlook.office365.com/powershell-liveid/', in the environment:'O365Default'.
Using ConnectionUri:'https://outlook.office365.com/powershell-liveid/', in the environment:'O365Default'.

    |

[2020-09-02 21:11] Jimnar commented on #685
@NikCharlebois I'm seeing the same issue @SebastianGoers describes with respect to multiple. I tried to uninstall older versions of M365DSC, but one version refuses to uninstall.

PS C:\WINDOWS\system32> get-module -name microsoft365dsc -list

    Directory: C:\Users\jimna\onedrive\Documents\WindowsPowerShell\Modules

ModuleType Version    Name                                ExportedCommands
-----

[2020-09-02 21:17] Jimnar commented on #685
@NikCharlebois I'm seeing the same issue @SebastianGoers describes with respect to multiple versions found. However, when I tried to uninstall older versions of M365DSC, one version refuses to uninstall with an "Access to the cloud file is denied" error. I cannot help but think it might have something to do with OneDrive.

![image](https://user-images.githubusercontent.com/10016605/92037646-f4cf7c

[2020-09-02 21:57] RobBiddle commented on #730
@NikCharlebois I usually use the Windows PowerShell console.
Testing via the new Windows Terminal (i.e. from the Windows Store) gives the same result.

Here's what it looks like when I launch from a console currently on a monitor with 150% scaling and the GUI opens on my default monitor which is at 175% scaling.
![image](https://user-images.githubusercontent.com/4378199/92039406-0161cd80-ed43-11ea

[2020-09-02 22:04] paweber8 commented on #493
@NikCharlebois currently i do not find enough time to really drive it. So yes, let us put it back.

[2020-09-03 10:21] #749 closed

[2020-09-03 10:32] albandrod commented on #644
Hi @NikCharlebois I try it again, but the same... I have tried with a GA account without MFA and with @domain.com

PS C:\WINDOWS\system32> Assert-M365DSCTemplate -TemplateName "Teams-M365Business-Baseline"
PowerShell DSC resource MSFT_TeamsCallingPolicy  failed to execute Test-TargetResource functionality with error
message: Exception calling "GetResponse" with "0" argument(s): "The remote name co

[2020-09-03 10:35] NikCharlebois commented on #644
@albandrod the Assert-M365DSCTemplate cmdlet has been deprecated in favor of the new Assert-M365DSCBlueprint cmdlet. Please refer to the following wiki page: https://github.com/microsoft/Microsoft365DSC/wiki/How-to-Create-a-M365DSC-Blueprint

Or Video: https://www.youtube.com/watch?v=UE-nRdZ4iJk

To learn more about it. Let us know if you have further questions. Thanks

[2020-09-03 11:20] albandrod commented on #644
@NikCharlebois I tried but same luck...

PS C:\Users\user\Downloads> Assert-M365DSCBlueprint -BluePrintUrl ".\Teams-M365Business-Baseline.M365" -OutputReportPath "C:\"

cmdlet Assert-M365DSCBlueprint at command pipeline position 1
Supply values for the following parameters:
Credentials
Selected BluePrint contains (15) components to assess.
Initiating the Export of those (15) components from the te

[2020-09-03 19:31] jeff29922 commented on #686
@NikCharlebois where are we with this Teams bug?

[2020-09-03 23:36] P3N-101 opened #765 "Problem with REGEX and domain names with numbers..."
<!--
    Your feedback and support is greatly appreciated, thanks for contributing!

    ISSUE TITLE:
   Cannot validate argument on parameter 'Identity'. The argument "111111.co.uk" does not match the "(?=^.{1,254}$)(^(?:(?!\d+\.|-)[a-zA-Z0-9_\-]{1,63}(?<!-)\.?)+(?:[a-zA-Z]{2,})$)" pattern

    ISSUE DESCRIPTION (this template):

    I have a domain that is numbers only when trying to run Export-

[2020-09-04 08:46] nlangsto commented on #763
Tried again on a fresh machine, server, never installed DSC, did dev branch. Oddly EXOAvailabilityAddressSpace worked on that machine

[13/119] Extracting [EXOAtpPolicyForO365]...
    |---[1/1] ✅
[14/119] Extracting [EXOAvailabilityAddressSpace]...
    |---[1/1] domxxxxxxxxxxxxxxxxx.uk✅
[15/119] Extracting [EXOAvailabilityConfig]...❌ Logging a new Error

But availability config didnt as you can se

[2020-09-04 20:29] NikCharlebois opened #768 "Feature Proposal - Config Drift Toast Notification"
It would be a neat feature to be able to get notified via Windows Toasts when a Configuration Drift is detected.

The following code could be used as an example:

Add-Type -AssemblyName System.Windows.Forms
$path = (Get-Process -id $pid).Path
$balloon.Icon = [System.Drawing.Icon]::ExtractAssociatedIcon($path)
$balloon.BalloonTipIcon = [System.Windows.Forms.ToolTipIcon]::Info
$balloon.BalloonTipTex

[2020-09-05 02:53] Jimnar commented on #758
After additional troubleshooting and in looking at the error, it appears the format of this line in the script might be incorrect:

EncryptionRightsDefinitions                 = "**[{`"Identity`":`"$OrganizationName`",`"Rights`":`"VIEW,VIEWRIGHTSDATA,DOCEDIT,EDIT,PRINT,EXTRACT,REPLY,REPLYALL,FORWARD,EXPORT,EDITRIGHTSDATA,OBJMODEL,OWNER`"}]";**

I tried to specify different values in the UI, includ

[2020-09-07 12:48] nlangsto commented on #763
Anything I can grab to help you diagnose further?

PS C:\WINDOWS\system32> Test-M365DSCAgent
WARNING: The names of some imported commands from the module 'Microsoft.PowerApps.Administration.PowerShell' include
unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the
Import-Module command again with the Verbose parameter. For a list of approved ve

[2020-09-08 19:00] desmay commented on #758
@Jimnar When you get a chance can you please try again using the Dev branch or you can wait until next version is published to PowerShell gallery. If you want to install dev branch on a machine you can use the Install-M365DSCDevBranch cmdlet.

[2020-09-08 20:01] Jimnar commented on #758
@desmay, I'll assume these installation issues are expected? I'll continue onto the test in an hour or so.

PS C:\WINDOWS\system32> Install-M365DSCDevBranch
WARNING: The names of some imported commands from the module 'Microsoft.PowerApps.Administration.PowerShell' include
unapproved verbs that might make them less discoverable. To find the commands with unapproved verbs, run the
Import-Module com

[2020-09-08 20:15] NikCharlebois commented on #758
@Jimnar did you execute the command in an elevated PowerShell console (run as Admin)?

[2020-09-08 20:38] JeffBor commented on #702
@DavidCloudSide Check your `winrm` settings as noted in https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#install-and-maintain-the-exo-v2-module:

If you have an network adapter/connection set to Public and that's your only connection, winrm will fail with:

Either connect to a Domain or Private network, or change Windows Defender Firewall's Window

[2020-09-08 20:48] Jimnar commented on #758
@NikCharlebois, Yes I'm an admin on the machine and opened PowerShell in Admin mode. I also did a complete reboot befor trying again. Could these errors appear because I had already installed the devbranch? Also, should the module number change? Here is what I see.

PS C:\WINDOWS\system32> get-module -name microsoft365dsc

ModuleType Version    Name                                ExportedCommands

[2020-09-09 18:38] Jimnar commented on #758
@NikCharlebois and @desmay, it appears there has been some progress, but I'm now getting a different error concerning encryption templates. The issue is very easy for me to repro. Simply go into M365 compliance center and configure the system to assign permissions now, then assign a user permissions. I'm just running on a test tenant so I'm happy to provide connection info privately if that would

[2020-09-09 21:22] hmank opened #774 "System.InvalidOperationException: There is currently no connection yet. Use Connect-PnPOnline to connect."
#### Details of the scenario you tried and the problem that is occurring
I have removed my DSC powershell modules, and reinstalled.
 I ran Export-M365DSCConfiguration  and be began the export and threw an error.

If I Connect-PNPOnline and re-run the export it runs successfully.
#### Verbose logs showing the problem

#### Suggested solution to the issue
[2020/09/09 04:38:07]
{NotSpecified}
System.

[2020-09-09 21:40] NikCharlebois commented on #774
@hmank What if you actually try to connect (in a new PoSh session) using the MSCloudLoginAssistant, does that work?

Test-MSCloudLoginAssistant -Platform PnP

Adding @desmay for visibility

[2020-09-10 00:10] hmank commented on #774
Tested and it throws an error >> TerminatingError(Connect-PnPOnline): "Cannot contact web site 'https://m365xTEST-admin.sharepoint.com/' or the web site does not support SharePoint Online credentials. The response status code is 'Unauthorized'. The response headers are 'X-SharePointHealthScore=0, X-MSDAVEXT_Error=917656; Access+denied.+Before+opening+files+in+this+location%2c+you+must+first+browse

[2020-09-10 15:29] Robert1976 commented on #472
I have been trying to run a DSC config in an Azure Automation runbook. I installed the module using the "Deploy to Azure Automation" option in the PowerShell Gallery. I created an example config like this:

[code]

Then I get the following error:

Perform operation 'Invoke CimMethod' with following parameters, ''methodName' = SendConfigurationApply,'className' =
MSFT_DSCLocalConfigurationManager,'

[2020-09-10 17:49] Jimnar commented on #758
@desmay, based on your post, I tested commenting out EncryptionTemplateId from the .ps1 file and recompiling it. At first glance, it appears the labels that were not being created due to the error got created without issues. All encryption settings seem to be configured correctly, too. I'm looking forward to learning what solution you come up with and am excited about the progress thus far.

[2020-09-11 12:07] NikCharlebois commented on #743
@SebastianGoers any updates on this? Thanks

[2020-09-11 12:09] NikCharlebois commented on #774
@hmank Thanks, slowly going doing to the lower levels of authentication logic, can you try:

Connect-PnPOnline -Url 'https://m365xTEST-admin.sharepoint.com/'

what's the result?

[2020-09-11 13:51] NikCharlebois commented on #763
@nlangsto are you still facing this exact issue with 1.20.909.1 ?

[2020-09-11 13:55] NikCharlebois commented on #765
@P3N-101 can you please provide additional details and context on what the exact issue is, thanks.

[2020-09-11 13:55] #746 closed

[2020-09-11 13:56] NikCharlebois commented on #758
@Jimnar just want to confirm, this issue has now been resolved for you? If so, can you close the issue? Thanks

[2020-09-11 13:57] #641 closed

[2020-09-11 13:58] NikCharlebois commented on #636
Fixed with the July release

[2020-09-11 13:58] #636 closed

[2020-09-11 14:01] NikCharlebois commented on #685
@Jimnar in your case it appears that this is due to the module being installed in different locations (not sure why, but the Install-Module path should normally be set to C:\Program Files\WindowsPowerShell\Modules). @SebastianGoers your issue is caused by the Install-M365DSCDevBranch method which doesn't properly trim 0's in front of release versions. a PR is on its way to fix this :)

[2020-09-11 15:06] nlangsto commented on #763
Hiya, Im afraid so, same problem

PS C:\WINDOWS\system32> Export-M365DSCConfiguration
[WARNING] Based on the provided Authentication parameters, the following resources cannot be extracted:
PlannerBucket PlannerPlan
[INFO] You can perform an equivalent unattended Export operation by running the following command:
Export-M365DSCConfiguration -Quiet -ComponentsToExport @('EXOAvailabilityAddressSpace

[2020-09-11 15:18] Jimnar commented on #758
@NikCharlebois mannually commenting out the line containing EncryptionTemplateId from the automatically generated M365TenantConfig.ps1 file is more of a workaround rather than a fix. I will also say that I do not know what EncryptionTemplateId actually does when it comes to the label. While the label does APPEAR to be created successfully with the settings specified when commenting out the line, I

[2020-09-11 15:39] hmank commented on #774
Yep, if I run the cmdlet manually I am able to connect, I can then re-run the Export-M365DscConfiguration successfully. However If i try and run the export before connecting to pnp-online it will fail with the error above.

[2020-09-11 17:10] #685 closed

[2020-09-11 17:43] SebastianGoers commented on #743
@NikCharlebois, the first command failes with command not found (the module is installed though).
The second command is showing the same error mentioned above, so I guess you conclusion is right:

`Get-FilePlanPropertyCitation
Name: The length of the property is too long. The maximum length is 64 and the length of the value provided is 91.
    + CategoryInfo          : NotSpecified: (:) [Get-FileP

[2020-09-11 18:08] NikCharlebois commented on #743
@SebastianGoers Can you try creating a new File Plan Citation with a name long of 65 characters from the web interface and see if it accepts it? I've just confirmed that the New-FilePlanPropertyCitation cmdlet doesn't accept a name longer than 64 characters:

[code]

Throws:
[code]

[2020-09-11 18:11] NikCharlebois commented on #600
@DeanGross are you still facing this with the latest version? Thanks

[2020-09-11 18:11] #584 closed

[2020-09-11 18:19] #222 closed

[2020-09-11 18:19] #180 closed

[2020-09-12 19:11] DeanGross commented on #600
No I am not. thanks for getting that minor bug resolved.

[2020-09-12 19:40] DeanGross commented on #774
I am seeing the same issue.

[2020-09-12 19:56] Jimnar opened #777 "SCDLPComplianceRule: Code generated from extract only creates first sensitive info type in policy template"
#336 ## Details of the scenario you tried and the problem that is occurring

This issue is simple to repro. Just create a DLP policy (and associated rule) that uses a policy template as shown in the screen shot below and do an export. The only entry in the resulting .ps1 file will be for the first sensitive info type, in this case, SWIFT code. All the others do not appear.

![image](https://user-i

[2020-09-12 20:19] #600 closed

[2020-09-13 15:23] hmank opened #778 "PowerShell DSC resource MSFT_AADGroupsSettings failed to execute Test-TargetResource functionality with error"
#### Details of the scenario you tried and the problem that is occurring
I am running the Assert-M365DSCTemplate, to compare an existing extracted DSC configuration to a tenant.

Assert-M365DSCTemplate -TemplatePath C:\temp\M365DSC\Baseline-Hab\M365TenantConfig.ps1 -Verbose

The account that i'm connecting to the tenant has MFA turned on however I am never prompted with the MFA authentication wind

[2020-09-13 16:26] NikCharlebois commented on #778
@hmak Assert-M365DSCTemplate is deprecated. Please use Assert-M365DSCBlueprint instead. Thanks

[2020-09-13 19:40] hmank commented on #778
Thanks Nik, the Assert-M365DSCBlueprint works.

[2020-09-13 19:40] #778 closed

[2020-09-15 10:12] Timsto commented on #493
i would take this @ThorstenLoeschmann

[2020-09-16 10:29] NikCharlebois commented on #502
Put on hold due to requirement to better understand the underlying cmdlets' logic:
https://docs.microsoft.com/en-us/powershell/module/skype/new-csteamsappsetuppolicy?view=skype-ps

[2020-09-16 10:30] NikCharlebois commented on #501
Put on hold due to requirement to better understand the underlying cmdlets' logic:
https://docs.microsoft.com/en-us/powershell/module/skype/New-CsTeamsAppPermissionPolicy?view=skype-ps

[2020-09-16 10:52] NikCharlebois commented on #758
After further investigation, my understanding is that on the Export, we are grabbing the ID of the RMS template assigned to the Label, which is unique to the tenant we are exporting the value from. Upon trying to recreate it on another tenant, it tries to assign that ID to the label, which doesn't exist on the destination tenant.

My recommendation is that we look at fixing this by introducing a n

[2020-09-16 12:11] nlangsto commented on #763
Is there any cmdlets I could run to help you diagnose? Cheers

[2020-09-16 15:40] jcegielsk1 opened #782 "Export always fails on lyncdiscover"
#### Details of the scenario you tried and the problem that is occurring
Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $creds -Workloads @("TEAMS", "SPO", "EXO", "O365", "OD", "SC") -FileName "Tenant.ps1" -ConfigurationName Tenant -GenerateInfo $true"
#### Verbose logs showing the problem
[82/99] Extracting [TeamsCallingPolicy]...Get-RTCXml : Exception calling "GetResponse" with "0" argum

[2020-09-16 15:46] NikCharlebois commented on #782
This is a known issue for older version where you had to use a .onmicrosoft.com account to do an export. It has been fixed starting with 1.20.909.1. Please update your version and try again. Thanks

[2020-09-16 16:19] jcegielsk1 commented on #782
Thanks, Nik.  I updated the module and still getting the exact same error.    Is it worth trying to run using the .onmicrosoft.com account?

Best,

   Jon Cegielski
   407.519.0968

From: Nik Charlebois <notifications@github.com>
Sent: Wednesday, September 16, 2020 11:46 AM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Jon M Cegielski <Jon@BuffaloWings.US>; Author <author@

[2020-09-16 17:55] jcegielsk1 commented on #782
Just an fyi, it works successfully after manually importing the Teams module and connecting to it, AND using the .onmicrosoft.com user ID.

Thanks you!

   Jon Cegielski
   407.519.0968

From: Jon M Cegielski
Sent: Wednesday, September 16, 2020 12:20 PM
To: microsoft/Microsoft365DSC <reply@reply.github.com>; microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Author <author@noreply.

[2020-09-16 18:59] #492 closed

[2020-09-16 19:28] NikCharlebois commented on #782
@jcegielsk1 the new version of the module should implicitly import and connect to Teams...Can you please try downloading 1.20.916.1 from the gallery and trying it again? Thanks

[2020-09-16 19:30] NikCharlebois commented on #758
@Jimnar given that Azure Information Protection is being deprecated (https://docs.microsoft.com/en-us/azure/information-protection/rms-client/client-version-release-history#:~:text=To%20provide%20a%20unified%20and%20streamlined%20customer%20experience%2C,using%20the%20Microsoft%20Information%20Protection%20Unified%20Labeling%20platform.) my recommendation is to remove the EncryptionTemplateId para

[2020-09-17 10:23] NikCharlebois opened #786 "AIPServiceTemplate"

[2020-09-17 12:38] Swampen opened #787 "EXOMalwareFilterRule/Policy: Problem generating mof file with EXOMalwareFilterRule/Policy"
#### Details of the scenario you tried and the problem that is occurring
I am quite new to DSC, so bear with me.
I have only exported the EXOMalwareFilterRule and EXOMalwareFilterPolicy from one tenant.
When i proceed to run the M365TenantConfig.ps1 script, it produces the error below.
Is this a bug or am I missing something?
#### Verbose logs showing the problem
[code]
#### Suggested solution to

[2020-09-17 14:02] jcegielsk1 commented on #782
Hi Nik.  The new version did not seem to make any difference.  However, when I used my .onmicrosoft.com ID that allowed me to execute the script to completion.  The one thing that was odd, was that I STILL had to manually connect to Teams using the ‘Connect-MicrosoftTeams’ cmdlet.  If I did not do that, my script would break and exit when it got to the Teams settings.  It would throw a bunch of “c

[2020-09-17 16:39] jeff29922 opened #788 "TeamsMeetingPolicy - Update Resource to enable new parameters"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version of the DSC module that was used ('dev' if using current dev branch)

[2020-09-17 17:09] jeff29922 commented on #788
I will be adding this to Teams backlog to be fixed

[2020-09-17 17:35] jeff29922 commented on #788
In reviewing the PowerShell Cmdlet, there are quite a few parameters that need to be added to this resource.

[2020-09-17 18:06] Jimnar commented on #758
@NikCharlebois

Are you proposing I remove the EncryptionTemplateID manually or are you proposing to remove it from your code that puts it into the config file?

I was using AIP was ONLY to create the default labels since they are considered a "best practice" and it is convenient. Those labels then get automatically copied into the Information Projection solution in Microsoft 365 Compliance, which

[2020-09-18 12:32] SebastianGoers opened #790 "[TeamsCallingPolicy] Getting Teams Calling Policy fails with 'The remote server returned an error: (404) Not Found.'"
#### Details of the scenario you tried and the problem that is occurring
Running a Test-TenantConfiguration against a blueprint configuration recently fails on the Teams Calling policy.

From what I have seen the DSC module for Teams is using `Test-MSCloudLogin -Platform SkypeForBusiness -CloudCredential $cred` in the background which fails with the same error using PowerShell command line.

I hav

[2020-09-18 13:28] SebastianGoers commented on #790
I cannot reproduce the issue right now (have been able to reproduce it for > 24hrs.). Might have been related to Service incident:
ID: TM222357
Title: Some admins may have been unable to access the Microsoft Teams admin center

[2020-09-21 12:51] nlangsto commented on #763
Tried again with
1.20.916.1

[2020/09/21 01:48:44]
{InvalidOperation}
System.Management.Automation.RuntimeException: You cannot call a method on a null-valued expression.
   at System.Management.Automation.ExceptionHandlingOps.CheckActionPreference(FunctionContext funcContext, Exception exception)
   at System.Management.Automation.Interpreter.ActionCallInstruction`2.Run(InterpretedFrame frame)

[2020-09-21 13:57] rwcchen opened #792 "Failed to configure managed property"
Because environment restriction, I'm not able to install DEV version of the module.  So the problem is with the stable version.

I tested with a managed property to configure and I'm getting the following error:

[code]
Below is the my managed property configuration:
[code]

The installed module version is

[code]

Any help is appreciated.  Thanks!

[2020-09-22 11:38] jeff29922 opened #794 "Update TeamsTeam Resource to reflect new parameters"
### Description
**Get-Team** [https://docs.microsoft.com/en-us/powershell/module/teams/get-team?view=teams-ps](url). This cmdlet supports retrieving teams with particular properties/information, including all teams that a specific user belongs to, all teams that have been archived, all teams with a specific display name, or all teams in the organization
### Proposed properties
[https://docs.micros

[2020-09-23 12:12] jeff29922 commented on #790
Sabastian, I am looking into this.  I'll get back to you.

[2020-09-23 13:11] jeff29922 commented on #698
@NikCharlebois is this fixed?

[2020-09-23 13:13] NikCharlebois commented on #698
@jeff29922 Not sure. Give it a try with the latest v1.20.923.1 since we've refactor the Teams Auth logic last release. Thanks

[2020-09-23 13:36] NikCharlebois opened #798 "IntuneAppConfigurationPolicy"
IntuneAppConfigurationPolicy

[2020-09-23 14:03] jeff29922 commented on #698
Ok will do.

[2020-09-23 14:17] nlangsto commented on #763
Tried again with 1.20.923.1 same error. DSC is sadly still unusable for me.

[2020-09-23 16:03] rwcchen commented on #792
I tested it today and there was no issue this time.  It looks like it ran successfully.  I'm not sure what was causing the issue last time.  I'm still using the same version.

However, it doesn't update the managed property attribute after it ran.  In the output, it shows the current value of the managed property and the target values.  But nothing is changed after the script is exected.

[code]
@

[2020-09-23 18:54] desmay commented on #758
@Jimnar The latest release 923.1 has the EncyptionTemplateID removed. Sensitivity labels still use Azure RMS when encryption is enabled and everything required to build the encryption template is in the extracted properties permissions etc so no need to extract templateID

[2020-09-24 11:33] SebastianGoers commented on #790
Changing the tenant default domain to the ***.onmicrosoft.com domain mitigates the issue. It is worth noticing that this behavior could only be reproduced on tenants in the non-sovereign DE region, but is not showing on tenants in AMS / DUB.

[2020-09-24 11:43] SebastianGoers opened #799 "[MSFT_SCFilePlanPropertyCategory] Fail to create a runspace because you have exceeded the maximum number of connections allowed : 3"
#### Details of the scenario you tried and the problem that is occurring

Performing a Test-TargetResource fails with "Fail to create a runspace because you have exceeded the maximum number of connections allowed : 3"
We are using a service account which is only being used to perform the  Test-TargetResource checks. Also we only run one  Test-TargetResource check every 24hrs.
#### Verbose logs sho

[2020-09-24 12:05] Swampen commented on #787
Seems to be have been fixed with an update

[2020-09-24 12:05] #787 closed

[2020-09-24 17:15] Jimnar commented on #758
@desmay I'll be giving a try by this weekend.

Any chance you could give https://github.com/microsoft/Microsoft365DSC/issues/777 a look?

[2020-09-24 21:41] desmay commented on #777
@Jimnar I'll take a look at this tomorrow

[2020-09-25 08:40] EricHindrichsen opened #802 "[M365DSCUtil] PSGallery returning error for Find-Module crashes DSC run"
### Symptoms
DSC run stops **right after** a module has finished its Test-TargetResource function. This occurred in our Azure DevOps release pipeline for 2 of our 4 release stages today. Logs show this error:
[code]
### Root Cause
Every DSC resource module contains a call to Add-M365DSCTelemetryEvent in the M365DSCUtil module. This function then calls Test-M365DSCNewVersionAvailable, which uses Fi

[2020-09-25 16:14] #777 closed

[2020-09-26 12:30] #763 closed

[2020-09-28 11:16] #798 closed

[2020-09-28 15:18] SebastianGoers commented on #799
We moved back to version Microsoft365DSC 1.20.916.1 and found that the current release does not mention "Removed the PSSession" in the logs. Apparently the session cleanup is broken in the current release. We believe that the error originates from ExchangeOnlineManagement.psm1 in function 'Disconnect-ExchangeOnline'. It appears as if the sessions aren't correctly cleaned up. The issue occurs in Ex

[2020-09-29 10:22] SebastianGoers opened #809 "[AADGroupsSettings] Various issues with string comparison"
#### Details of the scenario you tried and the problem that is occurring
Using v in AADGroupsSettings has several issues:
1) In Set-TargetResource : Using Get-AzureADgroup -searchstring "<Group_name>" can return ambigous results because the searchstring parameter is executing a "contains" search. As a consequence subsequent calls will try to use multiple group ids which will fail.
2) Using an empt

[2020-09-29 14:10] RobBiddle commented on #564
@malauter have you already started working on this? If not, do you mind if I take the assignment? I have an immediate need to get some automation in place for Transport Rules.

[2020-09-29 21:50] bogdanpaste opened #810 "-FileName switch in the Export-M365DSCConfiguration does not seem to work"
#### Details of the scenario you tried and the problem that is occurring

The line is simple, executed in a powershell window with admin_rights:
Export-M365DSCConfiguration -Path "c:\O365Prod\" -FileName "test.ps1"
The resulting files are created correctly but the file name stays the default one.

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configurati

[2020-09-30 10:16] malauter commented on #564
@RobBiddle feel free to take. I already started working on this task some months ago but due to other workloads I am not able to complete this at the moment. Would highly appreciate if you could create this important resource :)
If you want, feel free to use my previous work on the transport rule resource: https://github.com/malauter/Office365DSC/tree/EXOTransportRule/Modules/Office365DSC/DSCResou

[2020-09-30 10:51] #493 closed

[2020-09-30 15:10] #786 closed

[2020-09-30 15:25] desmay commented on #792
@rwcchen Yes it appears the update not working properly. I'll see if I can working fix for next release.

[2020-09-30 16:44] ndambrosio opened #814 "CsTeamsCallingPolicy Updates"
CsTeamsCallingPolicy Updates

[2020-09-30 21:08] RobBiddle commented on #564
Awesome, looks like you already did a lot of the painful work. Thanks!

[2020-10-01 14:54] TedBrown-MSFT commented on #788
I am working on this currently.

[2020-10-01 16:06] NikCharlebois opened #816 "TeamsMeetingPolicy, TeamsMessagingPolicy, TeamsMeetingBroadcastPolicy]DirectResourceAccess & TeamsCallingPolicy"
#### Details of the scenario you tried and the problem that is occurring
when trying to apply configuration for the default calling or meeting policy, the Set-CSTeams* cmdlet throw the following error:
Set or Remove host tag instance is not allowed

This is a valid error when doing the automation via Start-DSCConfiguration. The issue however is that the Export feature does export the default polic

[2020-10-01 16:14] NikCharlebois commented on #794
@jeff29922 have we confirmed the list of parameters that are missing/need to be updated in this resource?

[2020-10-01 16:24] NikCharlebois commented on #765
Closing issue as we need additional details

[2020-10-01 16:24] #765 closed

[2020-10-01 16:25] NikCharlebois commented on #743
@SebastianGoers we will be closing this one as there really is nothing from a M365DSC perspective that can be done.

[2020-10-01 16:25] #743 closed

[2020-10-01 16:27] NikCharlebois commented on #698
@jeff29922 any updates on this?

[2020-10-01 16:32] NikCharlebois commented on #686
@jeff29922 now that we are using the new combined MicrosoftTeams module can you look at why the .onmicrosoft.com domain is still required? This may require us to use the -OverrideAdminDomain switch on the New-CSOnlineSession cmdlet.

[2020-10-01 16:33] NikCharlebois commented on #671
@Kikaider any updates on this? Thanks

[2020-10-01 16:34] NikCharlebois commented on #669
@bubbletroubles any luck installing the latest version of the tool from the gallery and confirming if it works?

[2020-10-01 16:35] #660 closed

[2020-10-01 16:36] #659 closed

[2020-10-01 16:36] #656 closed

[2020-10-01 16:38] NikCharlebois commented on #644
Related to #782

[2020-10-01 16:40] #635 closed

[2020-10-01 16:40] #616 closed

[2020-10-01 16:41] #611 closed

[2020-10-01 16:42] NikCharlebois commented on #589
@ThorstenLoeschmann @desmay any updates on this?

[2020-10-01 16:44] #525 closed

[2020-10-01 16:46] NikCharlebois commented on #472
Adding @hmank as he might have an idea here.

[2020-10-01 16:47] NikCharlebois commented on #463
@andikrueger I know it's been a while but are you able to replicate with the latest versions of the tool? Thanks

[2020-10-01 16:48] #462 closed

[2020-10-01 16:48] #460 closed

[2020-10-01 16:49] #443 closed

[2020-10-01 16:57] #381 closed

[2020-10-01 18:00] NikCharlebois commented on #431
While this would be useful to some users, we've decided to let them manually validate their exported configuration by having them run the exported .ps1 file.

[2020-10-01 18:01] NikCharlebois commented on #412
This has been fixed and is now converting DeleteAttachmentAndUseDefaultAlertText  into DeleteAttachmentAndUseDefaultAlert

[2020-10-01 18:01] #412 closed

[2020-10-01 18:02] NikCharlebois commented on #363
This issue has been fixed in the latest version.

[2020-10-01 18:02] #363 closed

[2020-10-01 18:04] NikCharlebois commented on #353
@luigilink here's one for you 😄 !

[2020-10-01 18:06] #321 closed

[2020-10-01 18:08] NikCharlebois commented on #297
@desmay can you investigate to check if this is still an issue with SPO when using MFA enabled credentials? Thanks

[2020-10-01 18:09] NikCharlebois commented on #292
@ThorstenLoeschmann just wondering if you are seeing a lot of demand from customers for this here. Not sure how high it should be ranked on the backlog items to address.

[2020-10-01 18:12] NikCharlebois commented on #258
@vinkobedek kind of late, but are you able to replicate with latest builds?

[2020-10-01 18:15] NikCharlebois commented on #243
@Markus-Hanisch the idea would simply be to provide more context as to what each example does. For example:

The following example will create a new Teams Calling Policy with value.

It doesn't have to be more than this, just a bit more specific than what we currently have. There are also a lot of missing examples. Every resource should have at least one associated example to keep the Wiki consist

[2020-10-01 18:16] NikCharlebois commented on #183
Anyone willing to give this a new try with the latest version of the Microsoft365DSC module?

[2020-10-01 18:18] #177 closed

[2020-10-01 18:18] #175 closed

[2020-10-01 18:18] NikCharlebois commented on #158
Not to be pursued.

[2020-10-01 18:18] #158 closed

[2020-10-01 18:19] NikCharlebois commented on #144
Not to be pursued.

[2020-10-01 18:19] #144 closed

[2020-10-01 18:19] NikCharlebois commented on #112
@jeff29922 and Team, are you aware of any ways to restore a deleted Teams Channel from the API?

[2020-10-01 18:20] NikCharlebois commented on #126
Not to be pursued. Would slow down to GUI too much. Will need to be handled via documentation

[2020-10-01 18:20] #126 closed

[2020-10-01 18:21] NikCharlebois commented on #79
@ThorstenLoeschmann can we confirm that this can be implemented via a new AAD resource? Thanks

[2020-10-01 18:24] NikCharlebois commented on #85
@markroloff I will actually go ahead and close this. Now that Azure AD is part of M365DSC, we have a new AADMSGroup resource that will handle this. More than happy to have your look through the backlog and pick any resource you'd like to help working on!

[2020-10-01 18:24] #85 closed

[2020-10-01 18:40] NikCharlebois commented on #112
CC @ndambrosio in case you know what the answer to this would be.

[2020-10-01 20:42] klawrawkz commented on #799
We're getting the same in GCCHIGH environment. First we do a sanity check to clean up any PSSessions. Then run Start-M365DSCConfigurationExtract targeting the "SC" Workload.

What's the workaround? Revert to _ExchangeOnlineManagement version 2.0.1?_

Thanks for your help with this.

Klaw

[code]

[2020-10-01 20:45] NikCharlebois commented on #799
@klawrawkz what version of Microsoft365DSC are you using? The latest version (1.20.930.1) should have reverted back to 2.0.1. This is a temporary fix

CC @navgupta1208 for visibility

[2020-10-01 20:55] klawrawkz commented on #799
@NikCharlebois, I get it. It didn't make sense to me at the time; now it does. We updated and now we're on Microsoft365DSC version (1.20.930.1). The update _probably did revert_ ExchangeOnlineManagement back to 2.0.1.  When we updated the MSDSC we updated other related modules. Apparently we unintentionally broke the work-around, lol. We'll downgrade.

Thanks,

Klaw

[2020-10-01 21:30] TedBrown-MSFT commented on #794
Looks like the only new parameter is:
-ShowInTeamsSearchAndSuggestions

    -ShowInTeamsSearchAndSuggestions <Boolean>
        Setting that determines whether or not private teams should be searchable from Teams clients for users who do not
        belong to that team.  Set to $false to make those teams not discoverable from Teams clients.

        Required?                    false
        Positi

[2020-10-01 21:37] jeff29922 commented on #790
@NikCharlebois investigating. Let me test with the new release and I will post and update.

[2020-10-01 22:55] NikCharlebois commented on #794
Thanks @TedBrown-MSFT do you want to take this on?

[2020-10-01 23:09] TedBrown-MSFT commented on #794
Sure

Thank you

Ted Brown | Senior Premier Field Engineer – Intelligent Communications
IM: edbrown@microsoft.com<mailto:edbrown@microsoft.com> | Email: Edward.Brown@microsoft.com<mailto:Edward.Brown@microsoft.com>
Office: +1-703-439-3813 x3813 | Mobile: +1-716-316-8925

From: Nik Charlebois <notifications@github.com>
Sent: Thursday, October 1, 2020 6:55 PM
To: microsoft/Microsoft365DSC <Microsoft

[2020-10-02 05:49] ThorstenLoeschmann commented on #589
Not from my side. Honestly haven't had time to look into this again.

[2020-10-02 05:51] ThorstenLoeschmann commented on #292
Haven't seen any further requests going into this direction so I would not rank it super high on the backlog.

[2020-10-02 10:59] navgupta1208 commented on #799
@NikCharlebois - The latest version of module allows you to open a PowerShell session to Exchange as well as Security-Compliance Center in a single instance. To enable this, we don't close any existing PS Session.

We recommend you to close the session using Disconnect-ExchangeOnline.

[2020-10-02 15:11] markroloff commented on #85
@NikCharlebois no worries! I got stuck in a bit of analysis-paralysis and then work took a dump on me, so no big loss 😂

Will definitely be scouring the backlog for anything I think I can jump on.

[2020-10-05 09:21] vinkobedek commented on #258
@NikCharlebois I can no longer replicate this. The issue seems to be fixed.

[2020-10-05 09:21] #258 closed

[2020-10-05 13:13] #788 closed

[2020-10-05 13:13] #794 closed

[2020-10-05 13:13] #814 closed

[2020-10-05 15:48] andrasg opened #819 "NewResourceName: CsGroupPolicyAssignment - Support for assigning policies to groups"
### Description
Please add support for creating/removing/updating policy assignments.
https://docs.microsoft.com/en-us/powershell/module/teams/new-csgrouppolicyassignment?view=teams-ps

### Proposed properties

- GroupId
- PolicyType
- PolicyName

### Special considerations or limitations

- Group policy assignments not supporting all types of policies
- Updating an assignment requires recreating

[2020-10-06 12:32] chadif opened #820 "MSFT_EXO*: All Exchange online configurations return error about 'Certificate' is ambiguous"
#### Details of the scenario you tried and the problem that is occurring
Exported DSC settings from Tenant A
Attempting to import settings into Tenant B

When I run the command "Start-DSCConfiguration M365TenantConfig -Wait -Verbose -Force" (using global admin with no MFA)  I get the following error on all the Exchange Online commands such as this:

PowerShell DSC resource MSFT_EXOAcceptedDomain

[2020-10-06 18:54] jcegielsk1 opened #821 "EXO connectors cause DSC to fail"
#### Details of the scenario you tried and the problem that is occurring
executing .\settings.ps1 generates EXOConnector error
#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version of the DSC module that was used

[2020-10-07 06:13] Robert1976 commented on #472
I have got it working now using a hybrid runbook worker. The steps I have taken is:

(1) Create an Azure VM and add this VM to the automation account as a hybrid runbook worker.
(2) Add the same VM as a DSC node to the automation account.
(3) Install the Microsoft365DSC module to the automation account using the "Deploy to Azure Automation" option in the PowerShell Gallery.
(4) Run your Microsoft3

[2020-10-07 12:05] HaloX69 commented on #472
I did get it to work both as a DSC node and hybrid. Our InfoSec group is still greatly displeased the number of login accounts needed instead of service  principles to support EXO, Teams (really the Skype cmdlets), SAC resources.

I am working on a way to only leverage svc prin from configuration and then the svc prin gets the cloud account, create PSCred (GlobalAdminAccount) this way the password

[2020-10-08 12:14] TuomasPakkanen commented on #782
This error happens still at least without .onmicrosoft.com account with latest version of M365DSC module. Error logged during "Extracting [TeamsTenantDialPlan]..."

[2020/10/08 02:50:02]
{NotSpecified}
Microsoft.PowerShell.Commands.WriteErrorException: Exception calling "GetResponse" with "0" argument(s): "The remote name could not be resolved: 'lyncdiscover.domain.mail.onmicrosoft.com'"
""

[2020-10-08 19:26] wiemerr opened #824 "Error in Export at 47 Intuneconffig"
I am seeing this error during export.  I am not finding any reference to this cmdlet via Google/Bing.

System.Management.Automation.CommandNotFoundException: The term 'Connect-MSCloudLoginIntune'

The export stops on this error.

Randy
System.Management.Automation.CommandNotFoundException: The term 'Connect-MSCloudLoginIntune' is not recognized as the name of a cmdlet, function, script file, or op

[2020-10-09 04:28] klawrawkz commented on #799
@navgupta1208, are you stating that the 'end user' needs to orchestrate the Disconnect-ExchangeOnline' calls, or that the Microsoft365DSC internal logic needs to do this? If it's on the end user,  I'm not sure how we are supposed to do this as the Microsoft365DSC encapsulates all the connection requests. If it's the latter, my claim is that M365DSC is _also in the end user role_ and therefore shou

[2020-10-09 04:53] klawrawkz opened #825 "Start-M365DSCConfigurationExtract: TenantID Must Be In Format contoso.onmicrosoft.com Error When Using Automation Account"
Hi,

When we run the current release version _Microsoft365DSC | 1.20.930.1_ extract using an automation applicationID, we get an error.  The **same error** is produced whether we use the automation app info in powershell, azure powershell, or in azure playbook powershell contrivance. Probably because we call the M365DSCC the same way across the board.

We use this prototype:
[code]

The result of

[2020-10-12 13:59] navgupta1208 commented on #799
@klawrawkz

Opening and closing Exchange Online PowerShell session has to be handled by user in their script. This has always been the behaviour in EXO PowerShell.

Since multiple scripts may be running in parallel in a single PowerShell window, closing any session may lead to unwanted loss of operation/data. We recommend using Disconnect-ExchangeOnline for every instance of Connect-ExchangeOnline

[2020-10-13 06:51] TuomasPakkanen opened #826 "Errors and warnings when installing the dev branch"
#### Details of the scenario you tried and the problem that is occurring

I'm trying to install the Dev branch with Install-M365DSCDevBranch cmdlet, but there are multiple warnings about modules being currently in use. Does this mean the modules are not updated correctly? How can I confirm I am running the dev branch?

Additionally an error is thrown in the end that I do not have sufficient access

[2020-10-13 06:55] TuomasPakkanen opened #827 "Update documentation on microsoft365dsc.com to include the reporting cmdlets"
The Report section nor the getting started section on https://microsoft365dsc.com/ does not include the cmdlets how to export the XLSX or HTML report out of the .ps1 files. Please include those in the documentation for easier access to new users.

Should New-M365DSCConfigurationToExcel and New-M365DSCConfigurationToHTML or New-M365DSCReportFromConfiguration be used?

[2020-10-13 07:15] TuomasPakkanen opened #828 "Export-M365DSCConfiguration: fails on TeamsTenantDialPlan,TeamsUpgradePolicy,TeamsVoiceRoutingPolicy"
#### Details of the scenario you tried and the problem that is occurring

Trying to run the export of the tenant configuration with default settings, but the Teams part fails for TeamsTenantDialPlan,TeamsUpgradePolicy,TeamsVoiceRoutingPolicy options.

#### Verbose logs showing the problem

[2020/10/13 10:05:28]
{NotSpecified}
System.Management.Automation.MethodInvocationException: Exception callin

[2020-10-13 07:17] TuomasPakkanen opened #829 "Error action continue"
As there seems to be still many errors with the tool, it would be great to have an error action continue option or it could work like that by default. It's been quite a bit of effort running the tool due to errors in several parts (opened other issues on these). Have to uncheck specific parts and re-run, which takes a lot of time at this moment.

[2020-10-13 12:37] hapklaar commented on #826
I have the exact same issue, on multiple machines.

[2020-10-13 12:41] hapklaar opened #830 "No button to start extraction"

[2020-10-13 12:42] hapklaar opened #831 "No button to start extraction"
After installing the module using the provided instructions and starting Export-M365DSCConfiguration I have no option to start the extraction. The button seems to be missing, also after entering tenant credentials.

Tried installing on 3 different machines, but see the same on all three.

![image](https://user-images.githubusercontent.com/7703320/95861628-01051b00-0d62-11eb-8fb9-93d51a66a1c2.png)

[2020-10-13 12:42] #830 closed

[2020-10-13 20:39] tolarianNZ opened #833 "Export-M365DSCConfiguration fails at 2/43 when scoped to only SCDLPomplianceRule extract"
#### Details of the scenario you tried and the problem that is occurring
Attempting to extract DLP Rules (policies work fine).

Either using the GUI to select only SCC DLP Compliance Rules, or Export-M365DSCConfiguration -Quiet -ComponentsToExtract @('SCDLPComplianceRule')).

#### Verbose logs showing the problem

PS C:\Source> Export-M365DSCConfiguration
[INFO] You can perform an equivalent unatt

[2020-10-14 08:46] RuudGijsbers opened #834 "MSFT_EXODkimSigningConfig: Unable to delete DkimSigningConfig"
#### Details of the scenario you tried and the problem that is occurring
We created a config file where we want to make sure that the DkimSigningConfig for one specific domain is removed/doesn't exist.

#### Verbose logs showing the problem
2020-10-14T07:21:33.9537947Z VERBOSE: [fv-az561]: LCM:  [ Start  Resource ]  [[EXODkimSigningConfig]domain-com]
2020-10-14T07:21:33.9708684Z VERBOSE: [fv-az561

[2020-10-14 16:32] jdcardoso86 opened #835 "One or more errors occurred.: authority_validation_failed: Unknown error"
#### Details of the scenario you tried and the problem that is occurring
The Configuration I'm trying to push is targeting the Teams Channels Policy. Microsoft DSC scripts are being executed in a server behind a proxy, nonetheless direct PowerShell connecting, i.e. Connect-MicrosoftTeams command line executiong seems to work with no issues.
When the script Start-DSCConfiguration is executed if fai

[2020-10-14 17:57] #505 closed

[2020-10-15 06:22] jeff29922 commented on #831
@NikCharlebois this is the 2nd time we have gotten feedback that the extraction button is missing.

[2020-10-15 06:27] jeff29922 commented on #835
Obviously something going on with authentication. Let me do some testing.

[2020-10-15 06:38] jeff29922 commented on #819
@ndambrosio let's plan on triaging this and get this added to the Teams Development backlog.

[2020-10-15 06:44] jeff29922 commented on #816
@NikCharlebois Ok let me triage this and get a Teams Dev to investigate and fix.

[2020-10-15 06:51] jeff29922 commented on #782
@TuomasPakkanen I'll test this and follow up with @NikCharlebois.

[2020-10-15 06:54] jeff29922 commented on #698
@NikCharlebois Testing this today, will provide feedback.

[2020-10-15 06:56] jeff29922 commented on #686
@NikCharlebois Ok I will grab this.

[2020-10-15 07:29] jdcardoso86 commented on #835
Hi Jeff,
I supposed it's authentication related. What I don't quite get is the command line Export-M365DSCConfiguration works, i.e. is able to establish a PowerShell connection with Teams and retrieve the Configuration for the components requested, it is only when the Microsoft365DSC scripts are invoked through the execution of Start-DSCConfiguration that it fails.  I have already reviewed the Win

[2020-10-15 21:52] andrasg opened #840 "SCRetentionCompliancePolicy: Name param missing on New-RetentionCompliancePolicy"
#### Details of the scenario you tried and the problem that is occurring
Trying to deploy a Retention Policy

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
`MSFT_SCRetentionCompliancePolicypsm1:567`: the `$Identity` object seems to be emtpy. Perhaps it should be `$Name`?

https://docs.microsoft.com/en-us/powershell/module/exchange/new-retentioncompliancepolicy?

[2020-10-15 21:55] NikCharlebois commented on #840
@desmay this should be an easy one to fix, can you take it on?

[2020-10-15 21:56] andrasg commented on #840
Had a better look at it, looks like the issue is with `$Identity` in line 567. Updated the initial message.

Will try a PR :)

[2020-10-15 21:56] desmay commented on #840
@NikCharlebois Got it

[2020-10-15 21:59] NikCharlebois commented on #829
@TuomasPakkanen what version of the tool are you using? We recently updated the entire Error handling across all resources and I'd like to make sure no resources fell through the cracks. Thanks

[2020-10-16 05:33] TuomasPakkanen commented on #829
Good to know. I have 1.20.1007.1. Latest issues I've found were with the export-M365configuration and especially the Teams part, if that helps.

[2020-10-16 10:18] #840 closed

[2020-10-16 14:33] #699 closed

[2020-10-16 14:33] #826 closed

[2020-10-16 15:02] NikCharlebois commented on #824
@wiemerr what version of MSCloudLoginAssistant are you running? Run:

Get-Module MSCloudLoginAssistant -ListAvailable | select Version

[2020-10-16 20:17] NikCharlebois commented on #824
Actually, we've just released an out-of-band version (1.20.1016.1). I'd recommend you try that version and see if it fixes your issue.

[2020-10-19 10:08] ssssss7693 opened #847 "https://mobility4-sa.com/categories/158632"

[2020-10-19 10:37] #847 closed

[2020-10-19 19:51] ndambrosio opened #848 "CsTeamsShiftsPolicy"

[2020-10-20 08:47] jdevney commented on #831
As a workaround, hitting 'enter' after selecting the extraction modes kicks-off the extraction process. The button is just not visible in the GUI, but the function works.

[2020-10-20 09:36] jdcardoso86 commented on #835
Hi Jeff,

Was able to overcome this issue.
Basically DSC runs under a system account, so if the server being used to run the DSC command is behind a web proxy, the Web proxy settings need to be set for the system account.
There are many ways to set web proxies, what I have done was the following:

1. Using PSExec from SysInternals I have launched Powershell under the System Account (psexec -i -s P

[2020-10-20 09:36] #835 closed

[2020-10-21 06:56] SebastianGoers opened #850 "[AADMSGroup] Missing GroupType will cause Set-TargetResource to crash"
#### Details of the scenario you tried and the problem that is occurring
Set-TargetResource will fail when the GroupType property of an AAD group is missing.
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
In Set-TargetResource GroupTypes is being evaluated, but the parameter is not mandatory. Thus, if the parameter is empty (aka missing in the config file), the s

[2020-10-21 14:14] hapklaar opened #852 "Error while extracting ODSettings"
It seems the tool assumes a sharepoint.us FQDN for sharepoint settings. This is not true for Europe I guess, our remote hostname ends with sharepoint.com.

[code]

[2020-10-21 19:10] andikrueger commented on #183
Looks like this issue got fixed within the latest release.

[2020-10-21 19:14] #183 closed

[2020-10-21 19:42] andikrueger commented on #463
Looks like this original issue is fixed by now. I was able to run this configuration.

[2020-10-21 19:42] #463 closed

[2020-10-21 20:00] andikrueger opened #855 "SPOSharingSettings: Never compliant configurations are possible"
#### Details of the scenario you tried and the problem that is occurring

Testing issue #463 I came across a new issue which results in configurations being never compliant.

The following configuration will run without any errors. Even after a successful set of all settings, the tenant configuration will not be compliant with the configuration. Set-PnPTenant has some fixes implemented, so that no

[2020-10-21 20:34] desmay commented on #855
@andikrueger I'll take a look at this issue. Thx for reporting

[2020-10-22 01:56] ndambrosio opened #856 "GroupPolicyPackageAssignment"

[2020-10-22 02:04] ndambrosio opened #857 "CustomPolicyPackage"

[2020-10-22 02:08] ndambrosio opened #858 "PolicyPackage"

[2020-10-22 10:04] Timsto commented on #491
i would take this @ThorstenLoeschmann  @NikCharlebois

[2020-10-22 13:05] MarkBarl opened #860 "Report Generation not working"
I am having difficulty generating reports from a downloaded config file. The config file outputs fine and appears to be comprehensive. It works though with V 1.20.2016.1
#### Details of the scenario you tried and the problem that is occurring
This is what I am running to generate the report.
New-M365DSCReportFromConfiguration -Type html -ConfigurationPath C:\DSC\Source.ps1 -OutputPath C:\DSC\Repor

[2020-10-22 15:15] EricHindrichsen opened #861 "M365DSCUtil is missing the Test-M365DSCObjectHasProperty function"
While looking through M365DSCUtil's Test-M365DSCParameterState function and trying to understand what it does I stumbled across the following line of code:

`$CheckDesiredValue = Test-M365DSCObjectHasProperty -Object $DesiredValues -PropertyName $_`

I can't find the function 'Test-M365DSCObjectHasProperty' anywhere. Is it part of a different module?

[2020-10-22 17:58] SebastianGoers opened #862 "Setting BlockMacSync doesn't have any effect."
#### Details of the scenario you tried and the problem that is occurring
Setting BlockMacSync to $true doesn't have any effect.  Even after a configuration has been successfully applied to the tenant DSC will keep reporting a configuration drift.
#### Verbose logs showing the problem
The setting keeps unchanged. There aren't any verbose outputs as the cmdlet is being piped to Out-Null.

#### Sugge

[2020-10-22 17:59] SebastianGoers opened #863 "[AADMSGroup] MailNickNames won’t be changed for existing groups."
#### Details of the scenario you tried and the problem that is occurring
Changing a MailNickName for an existing group in AAD will have no effect.
Assume a group exist and its confguration should get verified by DSC - the MailNickName parameter will get disregarded.
#### Verbose logs showing the problem
No output, it simply will keep reporting a configuration drift even after the configuration got

[2020-10-22 18:00] SebastianGoers opened #864 "Duplicate setting RequireAcceptingAccountMatchInvitedAccount"
#### Details of the scenario you tried and the problem that is occurring
The RequireAcceptingAccountMatchInvitedAccount parameter can be configured in MSFT_SPOTenantSettings and MSFT_SPOSharingSettings. Having the parameter with different values in both configurations will cause apllication of the config to fail as the first module is settings the value and the second module is "re-setting" it bac

[2020-10-22 18:00] SebastianGoers opened #865 "[SPOSharingSettings] FolderAnonymousLinkType and FileAnonymousLinkType should be ignored when Anonymous access links aren’t enabled for the organization"
#### Details of the scenario you tried and the problem that is occurring
When Anonymous access links aren’t enabled for the organization, then the DSC module should disregard FolderAnonymousLinkType and FileAnonymousLinkType. Setting these two parameters will fail if anonymous access links aren’t enabled for the organization.
#### Verbose logs showing the problem

#### Suggested solution to the is

[2020-10-22 18:00] SebastianGoers opened #866 "[SPOSharingSettings] SharingAllowedDomainList needs to be an array"
#### Details of the scenario you tried and the problem that is occurring
We would like to configure a set of domains to be whitelisted in the SharingAllowedDomainList. When entering the domains in non-alphabetical order in the DSC configuration, then Test-DscConfiguration will always detect a configuration drift, because it is using string comparison. Get-DscConfiguration always returns the domain

[2020-10-22 20:12] NikCharlebois commented on #860
@MarkBarl this is related to a bug in the DSCParser module which didn't support parsing arrays of CIMInstances which in turn contains arrays of CIMInstance (recursion). This is something that came to my attention a few days ago, and I had been working on a fix for it. I am glad to announce that the newly released DSCParser v1.3.0.0 fixes this issue.

Microsoft365DSC is scheduled to include this fi

[2020-10-22 20:46] NikCharlebois commented on #861
Very good catch @EricHindrichsen. So a bit of a history lesson 😄, the core Util module evolved from a copy of what we're doing in SharePointDSC (cc'ing @ykuijs). The method is actually called Test-SPDscObjectHasProperty:
https://github.com/dsccommunity/SharePointDsc/blob/a821727468457269e368b222fd0986f43cb62793/SharePointDsc/Modules/SharePointDsc.Util/SharePointDsc.Util.psm1#L811

I believe this w

[2020-10-22 20:50] EricHindrichsen commented on #861
Alright, looking forward to it! The missing function didn't cause any trouble for us yet, so no rush at least from my side.
________________________________
From: Nik Charlebois <notifications@github.com>
Sent: Thursday, October 22, 2020 10:46:42 PM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Eric Hindrichsen <eric.hindrichsen@outlook.de>; Mention <mention@noreply.github

[2020-10-23 07:02] andikrueger commented on #864
This one related to #855

[2020-10-23 10:04] #860 closed

[2020-10-23 10:04] #861 closed

[2020-10-26 09:55] mollekes commented on #560
I'll take a shot at this

[2020-10-26 13:08] desmay commented on #866
@SebastianGoers working on this change

[2020-10-26 13:08] desmay commented on #865
@SebastianGoers Trying to get this resolved for next release

[2020-10-26 13:09] desmay commented on #864
@SebastianGoers Working on this with other bug in SPOSharingSettings

[2020-10-26 13:12] desmay commented on #862
@SebastianGoers Hope to fix this along with other bugs you posted for next release

[2020-10-26 18:32] #810 closed

[2020-10-26 20:20] NikCharlebois commented on #768
Based on testing, this would not work due to the process it is executed under as the LCM which is LocalSystem.

[2020-10-26 20:20] #768 closed

[2020-10-27 11:52] NikCharlebois commented on #432
Closed with #868

[2020-10-27 11:52] NikCharlebois commented on #862
Closed with #868

[2020-10-27 11:52] #862 closed

[2020-10-27 11:54] #821 closed

[2020-10-27 11:56] #824 closed

[2020-10-27 11:57] #671 closed

[2020-10-27 11:59] NikCharlebois commented on #802
Fixed with 1.20.1021.1

[2020-10-27 11:59] #802 closed

[2020-10-27 12:44] NikCharlebois commented on #825
Need to investigate further, but in the meantime, the MVP crew at O365EH.com came up with a blog/webcast to leverage Azure Automation Runbooks with Microsoft365DSC:
https://o365eh.com/2020/10/27/episode-74-using-microsoft-dsc-as-a-runbook-in-azure-automation/

[2020-10-27 12:45] NikCharlebois commented on #472
Regarding Azure Automation, the folks at O365Eh.com have a great blog/webcast on how to use M365DSC within Azure Automaton:
https://o365eh.com/2020/10/27/episode-74-using-microsoft-dsc-as-a-runbook-in-azure-automation/

[2020-10-27 13:15] #669 closed

[2020-10-27 14:20] NikCharlebois commented on #698
@jeff29922 any updates?

[2020-10-27 15:37] #866 closed

[2020-10-27 15:38] #865 closed

[2020-10-27 15:38] NikCharlebois commented on #864
With PR #868 this property is now Deprecated.

[2020-10-27 15:38] #864 closed

[2020-10-27 15:39] NikCharlebois commented on #855
The RequireAcceptingAccountMatchInvitedAccoun property is now marked as deprecated with PR #868

[2020-10-27 15:39] #855 closed

[2020-10-27 16:27] NikCharlebois commented on #827
New-M365DSCReportFromConfiguration is the Umbrella method we should be using. Documentation has been updated on the official web site.

[2020-10-27 16:27] #827 closed

[2020-10-27 16:39] NikCharlebois commented on #782
@TuomasPakkanen & @jcegielsk1
Folks, still trying to nail this one down. What happens is you try:

$creds = Get-Credential #use a non .onmicrosoft.com account
Test-MSCloudLogin -Platform SkypeForBusiness -CloudCredential $creds
Get-CSTeamsCallingPolicy

[2020-10-27 16:40] NikCharlebois commented on #829
@TuomasPakkanen Are there specific resources that are giving the errors?

[2020-10-27 16:41] NikCharlebois commented on #774
@desmay any thoughts here?

[2020-10-27 16:41] NikCharlebois commented on #758
@Jimnar any updates? Thanks

[2020-10-27 16:48] desmay commented on #774
@hmank or @DeanGross are you authenticating using an *.onmicrosoft.com account ?

[2020-10-27 16:55] NikCharlebois commented on #782
Yes, please.

[2020-10-27 17:13] jcegielsk1 commented on #782
When I run the following,

@{ModuleName="Microsoft365DSC"; RequiredVersion="1.20.1021.1"}
Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $creds -Workloads @("TEAMS") -FileName "AllResCoTeamsSettings.ps1" -ConfigurationName AllResCoTeamsSettings -GenerateInfo $true
That completes successfully.

But, when I run the .\AllResCoTeamsSettings.ps1 to generate the mof file, I get this error below,

[2020-10-27 17:17] NikCharlebois commented on #782
Ok, any chances you can go and only keep the latest version of the module in

C:\Program Files\WindowsPowerShell\Modules\Microsoft365DSC

Delete the other versions and try recompiling.

[2020-10-27 17:43] jcegielsk1 commented on #782
Yep, let me give that a try…  I’ll ping you as soon as I can.

   Jon Cegielski
   407.519.0968

From: Nik Charlebois <notifications@github.com>
Sent: Tuesday, October 27, 2020 1:17 PM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Jon M Cegielski <Jon@BuffaloWings.US>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/Microsoft365DSC] Export always fails on lync

[2020-10-27 19:03] NikCharlebois commented on #349
Managed to replicate the same issue in our Integration tenant
![image](https://user-images.githubusercontent.com/2547149/97349218-9249b680-1865-11eb-9a69-af03900589fa.png)

[2020-10-27 19:10] NikCharlebois commented on #349
The fix is actually for us to simply add HiddenMembership as a supported value for the Visibility parameter on the TeamsTeam resource

[2020-10-28 12:39] TuomasPakkanen commented on #829
Especially TeamsCallingPolicy,TeamsTenantDialPlan,TeamsUpgradePolicy and TeamsVoiceRoutingPolicy if I recall correctly.

[2020-10-28 12:42] TuomasPakkanen commented on #782
Seems to be working OK and it returns the information as expected.

[2020-10-28 13:28] jcegielsk1 commented on #782
After updating to the latest module and uninstalling the previous module and running with my @domain.com admin account (not the .onmicrosoft.com account), it still fails with the same error.

PS D:\OD4B\OneDrive - Buffalo Wings, LLC\Documents\ConvergeOne\Alliance\Scripts\Output> .\AllResCoTeamsSettings.ps1
At D:\OD4B\OneDrive - Buffalo Wings, LLC\Documents\ConvergeOne\Alliance\Scripts\Output\AllRe

[2020-10-28 16:28] EricHindrichsen opened #879 "AADMSGroup: Add IsAssignableToRole parameter"
#### Details of the scenario you tried and the problem that is occurring
We create new AAD groups using the AADMSGroup module. We have also added a custom DSC resource module to assign roles to those groups. However, this always fails since the ADDMSGroup modules creates groups without the option to set the IsAssignableToRole property for the group to `true` - and this property cannot be changed a

[2020-10-28 16:30] desmay commented on #879
@NikCharlebois I'll take this

[2020-10-28 16:31] desmay commented on #863
@NikCharlebois I'll take this issue

[2020-10-28 16:34] #613 closed

[2020-10-29 14:51] Jimnar commented on #758
@NikCharlebois, sorry for the delayed response. I'm working on getting a demo script complete. I'll try and give it a look over the weekend.

[2020-10-29 17:57] desmay commented on #774
@hmank or @DeanGross by chance are you using MFA enabled accounts as well?

[2020-10-30 12:15] DeanGross commented on #774
@desmay My account does have MFA enabled, it is not a *.onmicrosoft.com account.

[2020-11-02 16:06] NikCharlebois commented on #782
It seems to be complaining about multiple versions of M365DSC still.

Make sure that when you run: Get-Module Microsoft365DSC -ListAvailable
That you only get the latest version returned. Remove all other instances.

[2020-11-02 16:14] jcegielsk1 commented on #782
Ok, let me try to completely close and reboot and try again…

   Jon Cegielski
   407.519.0968

From: Nik Charlebois <notifications@github.com>
Sent: Monday, November 2, 2020 11:07 AM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Jon M Cegielski <Jon@BuffaloWings.US>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/Microsoft365DSC] Export always fails on lyncd

[2020-11-02 16:17] NikCharlebois commented on #284
Write-Information has been dropped in favor of Write-Host for extraction to provide visual indicators.

[2020-11-02 16:17] #284 closed

[2020-11-02 20:49] Jimnar commented on #758
@NikCharlebois I finally got an opportunity to test this scenario and confirmed it is now working as expected. Thank you.

[2020-11-02 20:49] #758 closed

[2020-11-05 13:04] robertreems opened #890 "SCRetentionCompliancePolicy: Parameter set cannot be resolved using the specified named parameters."
#### Details of the scenario you tried and the problem that is occurring
I'm trying to create a new Retention Compliance Policy but it fails with the 'Parameter set cannot be resolved using the specified named parameters'. error

#### Verbose logs showing the problem
**logs have been ommited**

VERBOSE: [dsc01]:                            [[SCRetentionCompliancePolicy]testSCRetentionCompliancePoli

[2020-11-05 17:10] MarkBarl opened #891 "Problem when automating config download"
#### Details of the scenario you tried and the problem that is occurring
When downloading configuration from Teams if I include the -GlobalAdminAccount switch with the $creds = Get-Credential I get a warning that says "[WARNING] Based on the provided Authentication parameters, the following resources cannot be extracted:
TeamsGuestMessagingCon
figuration TeamsM
essagingPolicy"

If I run the same c

[2020-11-10 17:43] NikCharlebois commented on #891
Seems like this is related to your command. TeamsMessagingPolicy is broken onto two lines in your example above. I can replicate your issue by keeping this the same. However, if I put all the Export-M365DSCConfiguration command on 1 line, then it starts working. Thanks

[2020-11-10 17:43] #891 closed

[2020-11-11 11:42] robertreems commented on #890
Thanks guys for your quick responses!

[2020-11-11 12:39] #890 closed

[2020-11-11 15:45] #491 closed

[2020-11-12 00:05] NikCharlebois opened #897 "AADAccessReview"

[2020-11-12 13:11] robertreems opened #898 "EXORemoteDomain: fails to set default domain with error"
#### Details of the scenario you tried and the problem that is occurring
I'm trying to enact the following configuration:

EXORemoteDomain "EXORemoteDomain_$tenantOrganisation"
    {
        Identity                   = 'Default'
        Ensure                     = 'Present'
        GlobalAdminAccount         = $credsGlobalAdmin

        AutoForwardEnabled         = $false
    }

It fails with th

[2020-11-12 16:02] #898 closed

[2020-11-12 16:29] robertreems commented on #898
Thanks again for this incredibly fast response!

[2020-11-12 20:29] aoverington-cyclone opened #901 "EXOMalwareFilterPolicy and EXOHostedContentFilterPolicy - Errors importing from template"
#### Details of the scenario you tried and the problem that is occurring
Importing a config from another 365 tenant as a PoC. Simple changes to a OOB config, added a Malware Filter, Updated the Default Spam filter and adjusted the AAD User settings for SSPR

#### Verbose logs showing the problem

VERBOSE: [DESKTOP-GJP45CT]:                            [[EXOAtpPolicyForO365]5b6fc931-9b57-48ad-9856-9

[2020-11-13 06:09] mdcaddic opened #902 "Setting up Microsoft 365DSC in DevOps"
Putting this here because although the issue is with the blog people will come here to find out.
I'm setting up Microsoft365DSC in DevOps as per Eps 74. Really nice work btw. I tried doing this all manually ages ago and gave up so I know how much effort you've been to.

https://o365eh.com/2020/10/27/episode-74-using-microsoft-dsc-as-a-runbook-in-azure-automation/
Cheers

A couple of issues tho.

F

[2020-11-16 11:42] lokeshmaganti opened #904 "Issue with New-M365DSCDeltaReport"
#### Details of the scenario you tried and the problem that is occurring
New-M365DSCDeltaReport -Source "D:\Folder1\SB\SBTenantExtract.ps1" -Destination "D:\Folder1\PPE\PPETenantExtract.ps1" -OutputPath "D:\Folder1\Microsoft365DSC\Delta.html"

#### Verbose logs showing the problem
Cannot index into a null array.
At C:\Program Files\WindowsPowerShell\Modules\Microsoft365DSC\1.20.1104.1\modules\M365

[2020-11-16 11:43] NikCharlebois commented on #904
@lokeshmaganti any chances you could post the .ps1 so that the team can investigate? (Remove usernames and redact out whatever sensitive information). Thanks

[2020-11-16 14:23] hmank commented on #902
Thanks @mdcaddic for the feedback, seems to have been a copy/paste issue when we created the post. I have updated the blog post to fix the URL and also fixed the typo. I'm not sure exactly sure what the error about the Microsoft.Graph.Groups.Planner failing to import. I have just created a new azure automation account and used the script and it imported without issue.

[2020-11-16 14:29] NikCharlebois commented on #902
Thanks folks. Now closing this.

[2020-11-16 14:29] #902 closed

[2020-11-17 17:12] Timsto commented on #897
will take it @NikCharlebois @ThorstenLoeschmann

[2020-11-17 17:52] NikCharlebois commented on #432
Link #908

[2020-11-17 20:29] #901 closed

[2020-11-18 13:05] desmay commented on #518
@NikCharlebois I'll take this item from backlog

[2020-11-18 13:37] NikCharlebois opened #912 "TeamsChannelTab"
Represents the tabs in a Team Channel. Part of the grey zone (data and not Configuration) but require for some Geo-Location migration scenarios. This resource will leverage the PowerShell Graph SDK at 100%

[2020-11-18 13:37] #432 closed

[2020-11-18 13:37] #904 closed

[2020-11-18 19:08] desmay commented on #517
@NikCharlebois You can assign this one to me.

[2020-11-18 19:12] NikCharlebois commented on #517
You're on a roll. Done

[2020-11-19 21:00] #831 closed

[2020-11-20 04:15] bubbletroubles opened #918 "Export-M365DSCConfiguration - Get-PnPTenantAppCatalogUrl : There is currently no connection yet. Use Connect-PnPOnline to connect."
#### Details of the scenario you tried and the problem that is occurring

I'm running the command
``` Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $GlobalAdmin -Workloads @("TEAMS","EXO","O365","OD","PP","SC","SPO") -FileName "extract.ps1" -Path "c:\DSCExtract\"  ```

It fails with
``` Get-PnPTenantAppCatalogUrl : There is currently no connection yet. Use Connect-PnPOnline to connect. ``

[2020-11-20 14:39] desmay commented on #918
@bubbletroubles I can repro this error so let me look into issue.

[2020-11-20 14:53] NikCharlebois opened #921 "IntuneDeviceCompliancePolice"

[2020-11-20 14:54] NikCharlebois opened #922 "IntuneAppProtectionPolicyiOS"

[2020-11-20 14:54] NikCharlebois opened #923 "IntuneDeviceManagement"

[2020-11-20 14:55] NikCharlebois opened #924 "IntuneMdmWindowsInformationProtectionPolicy"

[2020-11-20 14:57] NikCharlebois opened #925 "IntuneDeviceConfigurationPolicy"

[2020-11-20 21:17] NikCharlebois commented on #637
Just confirmed with a client that installing .NET 4.8:
https://dotnet.microsoft.com/download/dotnet-framework/net48

Will fix the issue. Only the runtime is required

[2020-11-21 19:40] martclau opened #929 "Reference to old commands"
The front page https://microsoft365dsc.com/Pages/GettingStarted/ references Export-O365Configuration which has been changed to Export-M365DSCConfiguration.

[2020-11-21 20:03] blevinscm commented on #473
It appears the AzureADAdministrativeUnit is no longer supported.  The PS commands show up as not known.

[2020-11-22 02:17] hbwheat opened #930 "Support for Azure/O365 Government (GCC, GCCH) Environments?"
Hello, I've tried to glean some old issues mentioning "GCC" or "GCCH" to determine what the support is like for DSC within those environments. One that looked promising regarding errors and maybe fixes was moved to back channel comms.

So, is there an update or general information on the support for US Gov environments specifically I'm interested in GCC High. I can assist with GCCH testing if need

[2020-11-22 12:55] NikCharlebois commented on #929
Thanks for reporting. The issue has been fixed now.

[2020-11-22 12:55] #929 closed

[2020-11-22 13:04] NikCharlebois commented on #564
@RobBiddle, any updates on this module?

[2020-11-22 20:40] ZanattaMichael opened #931 "Export-M365DSCConfiguration Memory Issues"
#### Details of the scenario you tried and the problem that is occurring
When Running: Export-M365DSCConfiguration (Full) against a test tenancy (with large number of MSTeams), a large amount of memory is consumed when performing an export. Intermittent errors occur when performing the export (Exceeded Memory Limit). (My Machine has 32GB of Memory)

#### Verbose logs showing the problem

#### Sugg

[2020-11-22 20:52] ZanattaMichael opened #932 "Cleanup of Memory After Export-M365DSCConfiguration"
#### Details of the scenario you tried and the problem that is occurring

After running multiple Export-M365DSCConfiguration, memory. Also the PowerShell Session has a large amount of memory still in use.  Also CredentialProvider.Microsoft.exe still remains active in the background, causing a conhost.exe PowerShell session to remain open. By terminating the app, additional memory can be freed up.

[2020-11-22 23:41] aoverington-cyclone opened #933 "Errors importing Exchange Policies"
### Details of the scenario you tried and the problem that is occurring
Errors when copying config to new tenant. Seems to only be impacting EXO policies

#### Verbose logs showing the problem
VERBOSE: [DESKTOP-GJP45CT]: LCM:  [ End    Test     ]  [[EXOAntiPhishPolicy]e742377c-29e3-4b17-9561-d47b860a2f26]  in   21.5240 seconds.

[2020-11-23 13:22] desmay commented on #930
@hbwheat I use M365DSC for my customer in GCC using Azure Application authentication for SPO and OneDrive workloads. Currently there is a bug using accounts which are MFA enabled but it should be resolved on this week upcoming release. We also run integration tests on a GCC tenant. I'm not sure if we have anyone try GCCH yet but any testing and reporting of bugs would be much appreciated.

[2020-11-23 14:14] hbwheat commented on #930
@desmay, I'll be on the lookout for the MFA bug fix and test from there. I did see in the testing files "GCCH" is referenced, but not actively tested?
Oddly enough I'm really only familiar with Public and GCC High. I'll throw out that many, if not all, the endpoints are different (*.us) for GCCH and many of the O365 modules need to use an environment parameter to work. I did run the Export cmdlt t

[2020-11-23 14:29] hbwheat commented on #930
@desmay, is it possible to run the Export without exiting on first failure? I bet some errors are critical, but I'd like to go through each module and see what fails and what does work (assuming _something_ works already)... without having to uncheck boxes or adjust the run command.

[2020-11-23 14:43] desmay commented on #930
@hbwheat Are you using the latest version of M365DSC ? It should continue to run even if it encounters an error with a specific resource

[2020-11-23 14:47] hbwheat commented on #930
@desmay, I'm running version 1.20.1118.1. I'm not sure if that's the current or not.

Running from the CLI I had better luck before it failed to a stop. It made to 93/111 modules with some errors being ignored.
Another thing, It's only writing the error log  and not any modules that made it processed.

[2020-11-23 14:53] desmay commented on #930
@hbwheat Are you using a user account or Azure AD application ? This version does have issue with MFA enabled accounts if you are using a user account. Any chance you can post any of the error messages in logs ?

[2020-11-23 15:59] hbwheat commented on #930
@desmay, using an account with MFA. For an AAD app is there a known set of API permissions that need to be granted and I can try that route?

[2020-11-23 16:17] hbwheat commented on #930
@desmay , so once MFA bug is fixed for the user account, I'll need to double check permissions for EXO and SP by the looks of the lags as that is where it errored out. However, I still can't see what was export thus far..

[2020-11-23 16:33] desmay commented on #930
@hbwheat For permissions for AAD app you can review this wiki page - https://github.com/Microsoft/Microsoft365DSC/wiki/ODSP-Permissions . The fix was pushed to Github and if you would like to try now you should be able to run install-m365DSCDevBranch or if you prefer it should be released to Powershell gallery on Wednesday 11/25

You should see a file M365TenantConfig.ps1 that contains the exporte

[2020-11-23 16:37] hbwheat commented on #930
@desmay , awesome I'll give it a try.

[2020-11-23 18:00] hbwheat commented on #930
@desmay, I'm still not getting a partial export even after specifying the Path and Filename.

[2020-11-23 18:03] desmay commented on #930
@hbwheat Any chance you can post error file or at least provide some details of the errors you are getting ? Also can you post the command you are executing for export as well

[2020-11-23 18:12] hbwheat commented on #930
@desmay, error causing an exit:

[code]

Run CLI command:
[code]

[2020-11-23 18:13] hbwheat commented on #930
As well for this error, it stopped writing the error log to a separate text file in the local directory.

[2020-11-23 18:43] desmay commented on #930
Can you try the following:
`Test-MSCloudLogin -Platform SecurityComplianceCenter`
`Get-FilePlanPropertyDepartment`

[2020-11-23 18:54] hbwheat commented on #930
@desmay, both worked, no errors.

[code]

[2020-11-23 19:09] desmay commented on #930
@hbwheat Good. Lets try breaking down extract into small chucks while troubleshooting. These are the valid workloads 'AAD', 'SPO', 'EXO', 'INTUNE', 'SC', 'OD', 'O365', 'TEAMS', 'PP', 'PLANNER'

We can target specific workloads so for example SharePoint Online:

`Export-M365DSCConfiguration -Quiet -Workloads @("SPO")  -GlobalAdminAccount 'redact@' -Path (Get-Location) -FileName ("M365_DSC_" + (Get-

[2020-11-25 20:01] desmay commented on #918
@bubbletroubles When you get a chance can you see if latest version 1.20.1125.1 fixes your issue.

[2020-11-25 22:34] bubbletroubles commented on #918
@desmay I've run it again and its hung (about 20 minutes) at the step below.

[code]

[2020-11-26 03:12] bubbletroubles commented on #918
@desmay I've run it again, this time with the -verbose switch and let it run for about 3 hours, it got one step further then hung. I had to cancel the script running.

[code]

[2020-11-26 11:13] ckuever opened #940 "always receive error The PowerShell DSC resource MSFT_SPOAccessControlSettings from module <Microsoft365DSC,1.20.1125.1> does not exist"
we always receive the following error on a Server 2019:

The PowerShell DSC resource MSFT_SPOAccessControlSettings from module <Microsoft365DSC,1.20.1125.1> does not exist at he PowerShell module path nor is it registered as a WMI DSC resource.

get-dscressource clearly shows that the dsc resource is available.

[2020-11-26 11:29] NikCharlebois commented on #940
@ckuever we are not able to replicate on our end with 1.20.1125.1.

get-dscresource -Module Microsoft365DSC | Select-Object Name, ModuleName, Version                                                                                                                                                    Name                               ModuleName      Version

[2020-11-26 11:31] NikCharlebois commented on #940
Can you check if you are able to import the .psm1 with -verbose without any issues?

Import-Module <path>\MSFT_SPOAccessControlSettings.psm1 -Verbose

[2020-11-26 11:43] ckuever commented on #940
get-dscresource -Module Microsoft365DSC | Select-Object Name, ModuleName, Version

exactly the same output then on your screenshot

the import-module directly from the folder works.

![image](https://user-images.githubusercontent.com/33624101/100346986-f8e8fe00-2fe4-11eb-9261-9c72a78c9de5.png)

[2020-11-26 11:44] ckuever commented on #940
we are starting the scripts from azure devops pipeline on a Server 2019 agent VM

[2020-11-26 11:51] NikCharlebois commented on #940
Ok, and SPOAccessControl is the only one causing problems? Or is it because it is the first for SPO in alphabetical order being hit?

[2020-11-26 11:53] ckuever commented on #940
i think because it's the first in alphabetical order being hit

devops pipeline log output:

![image](https://user-images.githubusercontent.com/33624101/100347869-5a5d9c80-2fe6-11eb-9902-682899ace626.png)

[2020-11-26 11:54] NikCharlebois commented on #940
This is going to be hard for us to troubleshoot remotely, but have you had a look at @ykuijs whitepaper on setting up M365DSC with ADO?
https://microsoft365dsc.com/Pages/Resources/Whitepapers/Managing%20Microsoft%20365%20with%20Microsoft365Dsc%20and%20Azure%20DevOps.pdf

[2020-11-26 12:01] ckuever commented on #940
yes of course, good whitepaper. as we have knowledge in devops i don't think it's a wrong pipeline or something like this.

Somehow in the dcs ressources / module in combination with server 2019? i will also try to find the error...

[2020-11-26 15:40] ckuever commented on #940
it works locally via start-dscconfiguration on the server, so error is somehow related to the devops pipeline task:

winrm quickconfig -force
Start-DscConfiguration -Path "$(System.ArtifactsDirectory)\_dbs-m365-blueprints-SPO\MOFFile" -Verbose -Wait -Force
if ($error.Count -gt 0)
{
 write-host "the following errors occurred during dscconfiguration";
 write-host ($error | fl * | out-string );
 thro

[2020-11-27 14:33] EricHindrichsen opened #944 "M365DSC: versions > 1.20.1028.1 quadruple the total runtime"
#### Details of the scenario you tried and the problem that is occurring
After upgrading from M365DSC 1.20.1028.1 to any newer version (we tried every single release after that one) our total runtime for a Apply- and Test-DscConfiguration run went up from 20-30mins to 90-100 mins. We didn't change anything in the environment (Azure DevOps release pipeline with MS-hosted agent) nor in the configura

[2020-11-27 15:08] NikCharlebois commented on #944
@EricHindrichsen we believe this is related to an emergency workaround we had to introduce when the PowerShell Gallery went down at the beginning of November. We introduce a check to ensure the Gallery was available before attempting to check for a newer version of the tool, but this ended up being call every single time a resource was called, which introduced a performance glitch. This has been f

[2020-11-27 15:20] EricHindrichsen commented on #944
@NikCharlebois you are right, with version 1.20.1125.1 we are back to normal runtimes again. Thanks a lot for the quick fix!

[2020-11-27 15:20] #944 closed

[2020-11-30 06:18] bubbletroubles opened #945 "Typos and formatting on page https://microsoft365dsc.com/Pages/GettingStarted/#Install"
There are a few typos and formatting on the page https://microsoft365dsc.com/Pages/GettingStarted/#Install

In the ```-MaxProcesses``` table, the word ```speficy```  should be ```specify```.

In the table under the heading **Extracting Configuration from an Existing Microsoft 365 Tenant**, the **Description** box has multi-line commands rendered on one line

![image](https://user-images.githubuser

[2020-12-01 01:34] cloudignition commented on #940
ckuever,

Any luck figuring this out? My build worked a week ago on version 1111 and i started getting this same error on 1125. Seems like something was a breaking change.

[2020-12-01 01:43] Kikaider opened #949 "Basic Auth disabled by GPO - any way around this?"
My client disables basic auth via GPO, thus adversely impacting M365DSC v1.20.1125.1. Is there any way around the requirement for Basic Auth?

It seems even the EXOv2 PowerShell modules still require basic auth be enabled for the OAthu token.

[2020-12-01 09:18] ckuever commented on #940
cloudignition,

strange, no i cannot confirm, same error also with version 1111

is it still working with 1111 in your case when you revert back to version 1111

can you share your winrm config and exact devops task?

thank you.

[2020-12-01 10:02] Swampen commented on #949
I am in the same situation. The only solution that I found is to use a VM to do it.
Basic auth is needed for EXO, so there is no way around it as I am aware of.

[2020-12-01 10:10] Swampen opened #950 "EXOHostedContentFilterPolicy: Fails with EndUserSpamNotificationCustomFromAddress as """
#### Details of the scenario you tried and the problem that is occurring
When trying to set EXOHostedContentFilterPolicy, the EndUserSpamNotificationCustomFromAddress fails to be set because it is not a SMTP address.
Changing it to `$null` works.
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
Either change the parameter to $null if it is "", or remove the paramet

[2020-12-01 11:08] NikCharlebois commented on #949
Have you tried using a Service Principal with a Certificate instead? (AppID, TenantID & CertThumbprint)

[2020-12-01 11:15] NikCharlebois commented on #945
Thanks for reporting. It has now been fixed.

[2020-12-01 11:15] #945 closed

[2020-12-01 11:17] NikCharlebois commented on #940
Looping in @ykuijs in case he has an idea.

[2020-12-01 11:32] NikCharlebois commented on #940
Couple of questions for you folks since we are not able to replicate on our end:

1 - You are not seeing any issues in the build pipeline compiling that MOF file, correct?

2 - If you are able to get your hands on that MOF file, are you properly seeing a reference to SPOAccessControlSettings in it?

3 - If you are able to get your hands on that MOF file, can you try running it locally?

4 - Where

[2020-12-01 11:33] NikCharlebois commented on #932
@ZanattaMichael Are you running multiple Export-M365DSCConfiguration in parallel or one after the other? Thanks

[2020-12-01 11:34] NikCharlebois commented on #931
@ZanattaMichael this is not a behavior we are able to observe on our end. Can you confirm that you are using PowerShell 5.1 and running a single Export-M365DSCConfiguration command?

[2020-12-01 11:35] NikCharlebois commented on #930
@hbwheat Ben, have we been able to isolate the issue to a specific workload like @desmay Derek is suggesting above? Thanks

[2020-12-01 13:21] cloudignition commented on #940
Here is my list of events. (for SPOSharingSettings, but i suspect its all modules)

I started working on this Nov 23. Everything worked fine on my local machine with version 1118.

Nov 23, added a build pipeline in ADO and it built the MOF fine. Pipeline pulled latest version on that day.

Nov 30 added a release pipeline, started getting the above error that @ckuever reported.

Nov 30 re-ran the b

[2020-12-01 13:24] NikCharlebois commented on #940
Let me know if you are able to reproduce when trying Q4 above. We need to be able to replicate on our end first to be able to take this any further.

[2020-12-01 13:48] ckuever commented on #940
Start-DSCConfiguration locally works for me also with both versions and even with the compiled mof file out of the devops built-pipeline. Only running the release pipeline out of devops seems to cause that issue. We currently facing it with a Server 2019 (where devops agent is running). we will try to see if it's OS related via trying with a Server 2016 also.

@Nik: that's our release pipeline scr

[2020-12-01 13:52] NikCharlebois commented on #940
Thanks I understand that the code above is your pipeline, but where are you installing the module from? Any chances that the hosted agent has multiple version of M365DSC installed on it which may be conflicting with one another?

[2020-12-01 14:11] cloudignition commented on #940
I use the same single task inline powershell as yours.

[2020-12-01 14:18] ckuever commented on #940
no, no multiple versions exist on hosted agent, verified via powershell and so on

the module is installed during built pipeline on the agent host via prep.ps1: (we currently forced to 1.20.1111.1 for testing)

Write-Output "Checking for Microsoft365Dsc module"

$psGallery = Find-Module Microsoft365Dsc -RequiredVersion 1.20.1111.1
$localModule = Get-Module Microsoft365Dsc -List

if ($localModule.V

[2020-12-01 16:24] cloudignition commented on #940
I use a 2016 build agent, so its cross OS.

[2020-12-01 18:16] cloudignition commented on #940
I figured out my issue. My PS1 config file was calling a specific module version that was no longer being installed because new versions had been released and therefore the file was calling an old module. I stripped the -ModuleVersion and it began working again. Another option would be to use -RequiredVersion or -MaximumVersion on the built agent module install so that the config file called versi

[2020-12-02 01:21] NikCharlebois commented on #940
Thanks for closing the loop. We're glad your issue has been solved.

[2020-12-02 07:48] ckuever commented on #940
i always stipped the -ModuleVersion but the problem still exists. i read somewhere that it might be related to MMaagent beeing installed :

https://www.iditect.com/how-to/55109102.html

will try also to remove MMAagent from PSModulePath but so far issue is not resolved...

[2020-12-02 11:56] SebastianGoers opened #951 "[TeamsTenantDialPlan] Exporting a tenant dial plan fails"
#### Details of the scenario you tried and the problem that is occurring
I am trying to export a tenant's dial plan using the export functionality in M365 DSC.

Command I used:
Export-M365DSCConfiguration -Quiet -ComponentsToExtract @("TeamsTenantDialPlan")  -GlobalAdminAccount $cred

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
None, yet.

#### The DSC confi

[2020-12-02 14:37] jeff29922 commented on #951
@SebastianGoers Let me take a look at this.

[2020-12-02 15:23] SebastianGoers opened #954 "[Export-M365DSCConfiguration] Tenant-wide export fails."
#### Details of the scenario you tried and the problem that is occurring
An export of a tenant configuration fails. The script is prompting the user for input (requiring a few parameters). I used Export-M365DSCConfiguration to start the export.
#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
None, yet.
#### The DSC configuration that is used to reproduce the issu

[2020-12-02 15:53] SebastianGoers commented on #510
I'd be really keen to test this out and implement CA policies using DSC. I have a desperate need to automate the creation of CA policies across tenants.

[2020-12-02 15:56] NikCharlebois commented on #510
@peterabele is leading this right now. The dev branch is located here:
https://github.com/peterabele/Microsoft365DSC/tree/AADConditionalAccessPolicy

[2020-12-02 16:22] SebastianGoers commented on #510
@peterabele, could you please help me understand what the current status of the development is? We are really keen to test the CA policy support in DSC.

[2020-12-02 17:52] peterabele commented on #510
@SebastianGoers, the CA module is in quite good shape. It is already tested in production, no issues so far.
I have 2 things remaining:
1. change all the logging calls to event log instead of file based
2. write the M365DSC unit test
I'll probably finish with these by end of next week.

[2020-12-02 23:44] JayBarre opened #955 "Access Denied message on Get-DscLocalConfigurationManager"
Dear Team,

I am using M365DSC export wizard to export my current tenant policies, however at the end when I give path to save the file, I get below error. Tried different paths but issue persists.

PS C:\Users\jp38gd\OneDrive - ING\Documents> Get-DscLocalConfigurationManager
Get-DscLocalConfigurationManager : Access denied
At line:1 char:1
+ Get-DscLocalConfigurationManager
+ ~~~~~~~~~~~~~~~~~~~~

[2020-12-02 23:46] NikCharlebois commented on #955
Just to confirm, are you running the PowerShell session as an admin? Thanks

[2020-12-03 00:02] JayBarre commented on #955
Sorry mate, it wasn't, tried by running as an admin, all good now :)

[2020-12-03 00:02] #955 closed

[2020-12-03 00:52] NikCharlebois commented on #955
Yeah, that's one that bites me every now and then as well. Glad it works now!

[2020-12-03 07:47] SebastianGoers commented on #510
@peterabele , this sounds really promising. I'll give it a try and test your module once its available in the dev branch.

[2020-12-03 10:19] luigilink commented on #353
@NikCharlebois you can assign to me. ;)

[2020-12-04 06:46] lokeshmaganti opened #957 "Delta Report command throwing errors"
#### Details of the scenario you tried and the problem that is occurring

Have exported the settings for SPO, teams and OneDrive twice from the tenant between gap of an week. Below are the command used and we tried to generate delta report but have seen couple of errors in the powershell window. The report was generated but it was all empty. The export of settings was successful and have looked at

[2020-12-04 17:01] jeff29922 commented on #954
@SebastianGoers I am going to grab this one as well.  I am testing in the lab with the newest software.  I'll update you ASAP.

[2020-12-04 18:05] desmay commented on #918
@bubbletroubles Any logs files generated ? It looks like from output it hung on SPOTenantCdnPolicy, can you try to export just that single resource.
`Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $GlobalAdmin -ComponentsToExtract @("SPOTenantCdnPolicy") -FileName "extract.ps1" -Path "c:\DSCExtract\"`

[2020-12-04 19:13] Brian-Madden-60 opened #962 "Microsoft 365 DSC Export feature via GUI"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version 1.20.1111.1 of the DSC

[2020-12-05 12:21] Swampen commented on #962
Do you mean that the export button is not shown in the GUI?

[2020-12-05 13:40] Brian-Madden-60 commented on #962
Hello,

Here is snapshot of UI.

Unable to fill in the Tenant ID field because the Start Extraction button is hidden and prevents it.

[A picture containing text  Description automatically generated]

Thanks, Brian

[cid:image002.jpg@01D6CAE2.5138E0B0]
Brian T. Madden
Progressive Insurance  •  End User Experience
IT Systems Engineer Lead
W 440.395.9152  C 440.221.2823

From: Ole-Martin Heggen <not

[2020-12-05 13:53] Swampen commented on #962
I don't think you can attach images to an email reply.
Please go to the GitHub issue and attach the image again.

[2020-12-05 14:04] Brian-Madden-60 commented on #962
Attached Word document with snapshot of image to the GitHub issue.

Thanks, Brian

[cid:image001.jpg@01D6CAE5.2704DD00]
Brian T. Madden
Progressive Insurance  •  End User Experience
IT Systems Engineer Lead
W 440.395.9152  C 440.221.2823

From: Ole-Martin Heggen <notifications@github.com>
Sent: Saturday, December 5, 2020 8:54 AM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc

[2020-12-05 14:14] Swampen commented on #962
Still can't see the image because you replied by email.
Please reply here instead: https://github.com/microsoft/Microsoft365DSC/issues/962

[2020-12-05 14:30] Brian-Madden-60 commented on #962
[MSFTDSCIssue.docx](https://github.com/microsoft/Microsoft365DSC/files/5647209/MSFTDSCIssue.docx)
Attaching file of issue.

[2020-12-05 14:35] Swampen commented on #962
This issue is fixed in release 1.20.1118.1
Simply update the module and it will be fixed.

[2020-12-05 14:41] Brian-Madden-60 commented on #962
Hello, file has been attached it issue.

Thanks, Brian

[cid:image001.jpg@01D6CAE9.575C8440]
Brian T. Madden
Progressive Insurance  •  End User Experience
IT Systems Engineer Lead
W 440.395.9152  C 440.221.2823

From: Ole-Martin Heggen <notifications@github.com>
Sent: Saturday, December 5, 2020 9:15 AM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Brian T Madden <brian_mad

[2020-12-05 14:54] Brian-Madden-60 commented on #962
Hello,

Thanks did see the current version is 1.20.1202.1 and have downloaded it, will install early next week and verify issue resolved.

Thanks, Brian

[cid:image001.jpg@01D6CAEC.A03838A0]
Brian T. Madden
Progressive Insurance  •  End User Experience
IT Systems Engineer Lead
W 440.395.9152  C 440.221.2823

From: Ole-Martin Heggen <notifications@github.com>
Sent: Saturday, December 5, 2020 9:36 A

[2020-12-05 23:10] hbwheat commented on #930
@NikCharlebois , Hey I'm sorry with the delay. I will be running tests soon and will report back.  I have not forgotten and will do it. :-)

[2020-12-07 09:42] bubbletroubles commented on #918
@desmay Here is what I've tested

Running the extract of the actual component works successfully, e.g. with the command:
```Export-M365DSCConfiguration -Quiet -GlobalAdminAccount $GlobalAdmin -ComponentsToExtract @("SPOTenantCdnEnabled") -FileName "extract.ps1" -Path "c:\DSCExtract\"  ```

Output:
[code]

Running the extract on the SharePoint Online resource fails - it seems to hang and never get

[2020-12-07 17:20] jeff29922 commented on #962
@Brian-Madden-60 please let me know the results your testing.  @NikCharlebois Brian is from Progressive Insurance.

[2020-12-07 17:24] jeff29922 commented on #954
I reached out to @SebastianGoers via the team site for an update.  This issue has bee resolved.  Sebastian can you please elaborate on the fix

[2020-12-07 17:26] jeff29922 commented on #951
@SebastianGoers you have indicated that this is fixed, I am going to close this out.

[2020-12-07 17:26] #951 closed

[2020-12-08 02:12] hbwheat commented on #930
@desmay , okayyy information for you...

I went down 2 paths. The first was by by components I hand picked (73). These looked most relevant of what I want to work with right now. The second was by workload (this takes much longer to run). I'll provide an update on that when it's done running through.

**1st (components):**

73 components to use Export-M365DSCConfiguration

`'O365AdminAuditLogConfi

[2020-12-08 02:57] hbwheat commented on #930
**2nd Workloads**

These are very similar to the above components of course. For the information it did I haven't combined through yet.

- AAD
  - Pulled apps, tenant details, user principals, etc..
- EXO
  - Quite a bit here covering what looks like everything.
- INTUNE
  - This pulled no information.
- O365
   - Pulled users, groups, and some org configurations.
- OD
  - This pulled no informati

[2020-12-08 03:00] hbwheat commented on #930
Of course this is all reverse DSC. At some point I'll want to try and go the other way. I'm curious if components that worked will work in the other direction too.

[2020-12-08 03:07] hbwheat commented on #930
Commands:
[code]

[2020-12-08 08:26] EricHindrichsen commented on #879
Thanks for implementing that so quickly! I'll close this issue now.

[2020-12-08 08:26] #879 closed

[2020-12-08 13:14] SebastianGoers opened #965 "Follow-up on [TeamsTenantDialPlan] Exporting a tenant dial plan fails #951"
Following up on [TeamsTenantDialPlan] Exporting a tenant dial plan fails #951 as it is still open and unresolved.

Additional info: in the event log I can see the following:

Cannot process argument transformation on parameter 'Params'. Cannot convert the "System.Object[]" value of type "System.Object[]" to type "System.Collections.Hashtable".

[2020-12-08 13:22] NikCharlebois commented on #965
@SebastianGoers Can you try the following and se us the details:

$config = Get-CsTenantDialPlan -Identity <id of you tenant dial plan>
$rules = $config.NormalizationRules
$i = 1
foreach ($rule in $Rules)
    {
Write-Host "-------- Rule #$i ------------"
        $ruleName = $rule.Name.Replace("Tag:", "")
        $ruleObject = Get-CsVoiceNormalizationRule | Where-Object -FilterScript { $_.Name -eq

[2020-12-08 13:43] desmay commented on #930
@hbwheat The global admin account you used was it an @onmicrosoft.com account ?

[2020-12-08 13:47] hbwheat commented on #930
@desmay, yes it was. Should I try with a domain?

[2020-12-08 13:57] desmay commented on #930
@hbwheat No we sometime saw issues with custom domains. It looks like issue is with MSCloudLoginAssistant with Teams and SPO /OD4B workloads.

I'm assuming this will fail:
`Test-MSCloudLogin -Platform PnP
Get-PnPTenant
`

[2020-12-08 14:11] jeff29922 commented on #965
@NikCharlebois @SebastianGoers let me know what I can do to help with this.

[2020-12-08 14:12] jeff29922 commented on #962
@Brian-Madden-60 I am following up to see if you had a chance to do any testing on this yet?

[2020-12-08 15:08] Brian-Madden-60 commented on #962
Hi,

First issue was resolved with the extract button has been resolved.

New issue, Attempted to do export and GUI closed, error log was created (attached).  Export failed.

Let me know who to proceed.

Thanks, Brian

[cid:image001.jpg@01D6CD4A.0BC6CBE0]
Brian T. Madden
Progressive Insurance  •  End User Experience
IT Systems Engineer Lead
W 440.395.9152  C 440.221.2823

From: Jeffrey LeBlanc <no

[2020-12-08 15:46] Brian-Madden-60 commented on #962
Resolved the 407 authentication issue in the log.

During the Export, was prompted for Destination Path and entered c:\temp\dsc, 2 files were created in the destination ConfigurationData.psd1 and M365TenantConfig.ps1

Ran the M365TenantConfig.ps1 and it generated a localhost.MOF file in the C:\temp\dsc\M365TenantConfig folder.

Looking at the MOF file, it had in account and password hard coded in

[2020-12-08 16:00] jeff29922 commented on #962
@Brian-Madden-60 give me a chance to digest what you have sent over.  I will reach out to setup another working session.

[2020-12-08 16:49] #921 closed

[2020-12-08 16:49] #925 closed

[2020-12-08 16:57] #922 closed

[2020-12-08 18:53] hbwheat commented on #930
@desmay,  I had to install the AzureADPreview module for it to not error out. It returns nothing however. Is that expected?

[2020-12-09 06:28] bubbletroubles opened #966 "The maximum number of concurrent shells for this user has been exceeded."
#### Details of the scenario you tried and the problem that is occurring
I am running ```Start-DSCConfiguration extract -Wait -Verbose -Force``` a few times within a 5 minute window for testing. It seems the number of Teams/Skype sessions is exceeded.

Does M365DSC clean up old sessions after each run?

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue
Disconnect

[2020-12-09 12:22] desmay commented on #930
@hbwheat It should have displayed your tenant information. We'll look into issue with MSCloudLoginAssistant & GCCH

[2020-12-09 21:51] RobBiddle commented on #564
I've made the few updates needed to mesh with the overall refactor and tested it against some scenarios. I'm guessing you'll want more test cases.

I just merged in the upstream but haven't tested since.
Here's my branch: https://github.com/RobBiddle/Office365DSC/tree/RobBiddle_EXO_TransportRule

[2020-12-10 18:13] bubbletroubles opened #973 "TeamsDialInConfiguration"
### Description
Has anyone looked at including the MS Teams dial in conferencing tenant settings (e.g. what can be done via Set-CsOnlineDialInConferencingTenantSettings) in M365DSC? If not, I'm happy to have a go at creating a module for it.

### Proposed properties
Allow configuring the following via DSC

  [-EnableEntryExitNotifications <Boolean>]
   [-EntryExitAnnouncementsType <EntryExitAnnoun

[2020-12-14 20:20] ZanattaMichael commented on #931
This is a 1 single export running on PowerShell 5.1.

[2020-12-14 20:26] ZanattaMichael commented on #932
As a workaround to Issue 931, I was running the export in PowerShell Job in batches of 5. Since they are running in a separate PowerShell runspaces, once the runspace is terminated the memory should be freed up.

[2020-12-15 13:40] NikCharlebois commented on #973
@bubbletroubles if you have cycles to take this on, we are more than happy to assist in getting you started!

[2020-12-15 15:06] jeff29922 commented on #973
@bubbletroubles please reach to me if you need help getting started on this.  If you would like to take this on, please assign yourself, thank you!

[2020-12-16 15:45] NikCharlebois opened #979 "AADNamedLocation"

[2020-12-16 17:10] NikCharlebois opened #982 "Update all SPO and OD resources to use the new PnP.Core PowerShell module"

[2020-12-17 11:53] ykuijs opened #984 "[SPOApp] Export only contains last processed app"
#### Details of the scenario you tried and the problem that is occurring
When exporting the the SPOApp configuration, the export only contains the app that is processed last.

#### Verbose logs showing the problem

#### Suggested solution to the issue
I think this line needs to be changed to += instead of =.
https://github.com/microsoft/Microsoft365DSC/blob/c3637f598d9348ada89bad03ba9a555157890885

[2020-12-17 11:58] ykuijs opened #985 "Export-M365DscConfiguration example to include GlobalAdminAccount parameter"
#### Details of the scenario you tried and the problem that is occurring
When running Export-M365DscConfiguration with the GUI, it prompts the command that you can use to export the same resources unattended. When running this cmdlet, you are prompted to include an authentication credential. Maybe it is good to add the "-GlobalAdminAccount (Get-Credential)" to the example.

#### Verbose logs showi

[2020-12-17 12:02] ykuijs opened #986 "[SPOHubSite, SPOSiteAuditSettings, SPOSiteGroup, SPOStorageEntity] Export contains hard coded tenant URLs"
#### Details of the scenario you tried and the problem that is occurring
When exporting the SPOHubSite, SPOSiteAuditSettings, SPOSiteGroup and SPOStorageEntity resources, the export contains the hardcoded tenant URLs. With SPOSite, the URLs are updated to the OrganizationalName variable.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Implement the same logic as in SPO

[2020-12-17 12:20] NikCharlebois commented on #954
Closing. This issue was fixed in 1.20.1209.1

[2020-12-17 12:20] #954 closed

[2020-12-17 12:39] ykuijs opened #987 "[All SPOSite releated resources] Add possibility to export a selection of site collections"
#### Details of the scenario you tried and the problem that is occurring
When exporting site collections and all related settings, currently all site collections are exported. Would it be an idea (or even possible) to add a filter possibility so that you are able to select a subset of site collections?

#### Verbose logs showing the problem

#### Suggested solution to the issue
If possible, add th

[2020-12-17 22:42] cloudignition opened #990 "Run-as Service Principal support"
I noticed many of the modules do not appear to have documented API permissions nor do they appear to support the necessary items to be run by an SPN (Cert Thumbprint, Tenant ID, App ID). Is support across the board for SPNs on the roadmap? I couldn't find it easily in the backlog.

Many of the Teams modules are where i began noticing they aren't present.

[2020-12-18 01:32] bubbletroubles commented on #973
Thanks Nik and Jeff - happy to take this on but I don't seem to be able to assign this to myself. Can you allocate it to me?

[2020-12-18 01:48] bubbletroubles commented on #973
@NikCharlebois and @jeff29922 - the parameters below are deprecated. From a M365DSC perspective, should they be included in the module or not?

[code]
from https://docs.microsoft.com/en-us/powershell/module/skype/set-csonlinedialinconferencingtenantsettings?view=skype-ps
![image](https://user-images.githubusercontent.com/42738824/102564280-339b0d80-412f-11eb-887b-fba2de3d2ceb.png)

[2020-12-18 10:35] bubbletroubles commented on #973
One more question...

I have followed along the video as per
https://www.youtube.com/watch?v=Bax6eVshfwY&t=1748s

At the 29m 44s point in the video, it mentions to update the "M365DSCReverse.psm1" file. It seems the format of this file has changed - it seems the script now recursively finds all modules automatically. Can you confirm if I need to make any changes to M365DSCReverse.psm1?

[2020-12-18 11:40] NikCharlebois commented on #973
@bubbletroubles that is correct, we've simplified our process and the ReverseDSC interface is now automatically generated the moment a new resource is created.

[2020-12-18 11:41] NikCharlebois commented on #973
We should not be including deprecated parameters to answer your first question. Thanks for your help!

[2020-12-18 12:40] desmay commented on #990
@cloudignition As the underlying API support Azure AD App authentication M365DSC will add support as well. We started documenting the SPO & OneDrive permissions here https://github.com/Microsoft/Microsoft365DSC/wiki/ODSP-Permissions

[2020-12-18 12:45] ykuijs commented on #984
Fixed via PR #989

[2020-12-18 12:45] #984 closed

[2020-12-18 12:50] ykuijs opened #991 "[SPOHubSite] Test throws an exceptionwhen site collection doesn't exist"
#### Details of the scenario you tried and the problem that is occurring
The Test method of SPOHubSite throws an exception when the site collection doesn't exist. This is causing that a config that has a new site collection which has to be a hubsite cannot be tested using "Test-DscConfiguration -ReferenceConfiguration". Only the Set method should throw an exception.

#### Verbose logs showing the

[2020-12-18 13:46] ykuijs opened #993 "[SPOSite] Ignore HubUrl parameter when this is equal to Url parameter"
#### Details of the scenario you tried and the problem that is occurring
When the HubUrl parameter is equal to Url parameter, the HubUrl parameter can be ignore. The HubUrl is then pointing to itself and will throw an error when the site collection is newly created and not yet configured as a hubsite. This parameter is automatically updated to itself when the site collection is configured as a hub

[2020-12-18 14:19] ykuijs opened #994 "[SPOSite] LocaleId parameter behaves inconsistently"
#### Details of the scenario you tried and the problem that is occurring
When you use Get-PnpTenantSite, the Lcid property returns the Locale used in the Regional Settings of the site collection. Unfortunately the list used here is far greater than the locale accepted when creating a site collection. For example:

When setting the locale in regional settings of a site collection, Get-PnPTenantSite

[2020-12-21 12:07] #985 closed

[2020-12-21 12:07] #986 closed

[2020-12-21 12:07] #991 closed

[2020-12-21 12:07] #993 closed

[2020-12-21 12:07] #994 closed

[2020-12-21 15:43] NikCharlebois commented on #990
Microsoft365DSC depends on underlying PowerShell modules to authenticate to the various workloads. Currently the Intune, Security and Compliance and Teams (Skype for Business Online) only support authenticating using User Credentials. The resources will be updated to support Service Principal support for Authentication once the associated underlying modules start supporting it.

[2020-12-21 15:43] #990 closed

[2020-12-21 15:47] NikCharlebois commented on #987
Love the idea. In the Go-Local Migration we introduced a -start and -end parameters to export in batches. However this approach doesn't provide a great way to select only specific items as it just grabs a random batch. How would you envision this working for SPOSite?

[2020-12-21 16:30] NikCharlebois commented on #966
This is actually due to the way the Skype for Business Online module generates and interacts with its proxy functions. You would get the same behavior if you were to run multiple PowerShell sessions within the same 5 minutes period and try leveraging the SfBO module directly. We went back and forth on this within the team to decide whether or not the MSCloudLoginAssistant module should detect thes

[2020-12-21 16:30] #966 closed

[2020-12-28 20:49] bubbletroubles commented on #973
I'm still working through this and have some more questions.

What version of Pester is needed when running ```Invoke-TestHarness -IgnoreCodeCoverage```

When using the default built into Windows 2019, I get a lot of errors like the ones below

[code]

When using the latest from PowerShellGallery, I get the errors like the ones below

[code]

[2020-12-28 20:55] bubbletroubles commented on #973
Also another question

Do I need to build in logic if the feature requires a certain license level? E.g. the Teams Dial In Configuration needs M365 E5 or Audio Conferencing license. When I run ``` Get-CsOnlineDialInConferencingTenantSettings ``` on a tenant without these licenses, I get the output

[code]

[2020-12-28 20:59] bubbletroubles commented on #973
Lastly, do I need to define the DSC resource somewhere? I keep getting the undefined error as per the screenshot, but can't work out where to define it.

![image](https://user-images.githubusercontent.com/42738824/103242783-a3b95700-49ab-11eb-8679-7f52e104cddb.png)

[2020-12-28 20:59] AlexJPawlak opened #1002 "AADTenantDetail: Set-TargetResource silently fails"
#### Details of the scenario you tried and the problem that is occurring
Getting started with Microsoft 365 DSC, tried to follow simple "getting started" resource. Replaced my values with placeholders. Phone number in format: +{country code}{myphoneNumber} -

#### Verbose logs showing the problem
VERBOSE: [WINSRV-M365DSCH]:                            [[AADTenantDetails]TenantDetailsg] Target-Value

[2021-01-04 14:20] SebastianGoers commented on #965
Hi @NikCharlebois , we have tested the code snippet you provided and here's the conclusion:
- Get-CsVoiceNormalizationRule returns a huge list of all normalization rules on the tenant but it does not contain the rules that we provided via the Teams admin UI. This is why your code fails on our end when filtering on the name property as the result is empty:
[code]
- $config.NormalizationRules actual

[2021-01-04 14:32] SebastianGoers commented on #799
@NikCharlebois , the issue still persists:

[code]

[2021-01-04 15:56] sheidl commented on #965
Good finding @SebastianGoers. Was investigating the same issue, you are one hour ahead ;-)

Indeed Get-CsVoiceNormalizationRule only returns the pre-defined normalization rules, not the custom ones created in TAC or using New-CsTenantDialPlan 1 -NormalizationRules.

@NikCharlebois  So I think what we should do in M365 DSC is to work with /extract the NormalizationRules that are returned by get-cst

[2021-01-05 07:43] robertreems commented on #799
Hi I seem to suffer from this issue as well. I've only experienced it while using the SCRetentionCompliancePolicy resource.

JobID                      : {75AC5ECE-45D5-11EB-975F-000D3AAAE1B1}
HostName                   : rvrWin10
Error                      : PowerShell DSC resource MSFT_SCRetentionCompliancePolicy  failed to execute Test-TargetResource functionality with error message: Processing

[2021-01-05 09:28] robertreems commented on #790
Hi I've had the exact same issue and found a workaround: You need to license atleast one user with a valid Teams license.

If you havn't done so the Teams (web) portal is not availble  thus resulting in this error.

[2021-01-05 09:47] robertreems opened #1003 "SCRetentionCompliancePolicy: fails without error, one is expected."
## ISSUE DESCRIPTION
While using a combination of the resources SCRetentionCompliancePolicy and SCRetentionComplianceRule. The DSC configuration has an illegal configuration and therefore can **not** be configured. But there is no error presented to the enduser.

#### Details of the scenario you tried and the problem that is occurring
The configuration has at least one known configuration error. T

[2021-01-05 10:25] robertreems opened #1004 "[SCRetentionCompliancePolicy]: The policy is not created and no error is thrown"
## ISSUE DESCRIPTION
This might be related to https://github.com/microsoft/Microsoft365DSC/issues/1003.

I'm having issues with creating a compliance centre retention policy. The DSC-configuration enacts just fine but doesn't create an actual policy.

#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem
VERBOSE: Perform operation 'Invoke C

[2021-01-05 16:08] wilbertduenk opened #1006 "IntuneFirewallPolicy: New resource proposal"
### Description
Creation of a IntuneFirewallPolicy which can be assigned to a IntuneDeviceCategory.

From within this policy, per windowsFirewallNetworkProfile configurations (Domain, Private, Public) will be possible using the Graph API as seen in https://docs.microsoft.com/en-us/graph/api/resources/intune-deviceconfig-windowsfirewallnetworkprofile?view=graph-rest-1.0

### Proposed properties
Per

[2021-01-06 20:15] #950 closed

[2021-01-06 22:25] kigsandrew opened #1007 "Error while Compiling the M365TenantConfig.ps1 into MOF file format"
I get the error below when i try to compile the M365TenantConfig.ps1 into MOF file format

![error](https://user-images.githubusercontent.com/69600611/103825971-e6ca9880-5043-11eb-95eb-dbfa1c4dee9f.PNG)

Any help is highly appreciated.

[2021-01-08 12:40] NikCharlebois commented on #1003
@desmay any chances you could take a look at this when you get a chance? Thanks

[2021-01-08 12:42] NikCharlebois commented on #1004
@desmay same goes for this one if you have cycles to have a look. Thanks

[2021-01-08 12:49] NikCharlebois commented on #1007
@kigsandrew any chances you could post the code snippets you are using in your configuration for AADRoleDefinition? Thanks

[2021-01-08 15:09] kigsandrew commented on #1007
Thanks NikCkarlebois, this the screenshot of the AADRoleDefinition that have errors i got from VsCode.
![NewVS](https://user-images.githubusercontent.com/69600611/104030434-661db080-5199-11eb-8cc3-c924c6a18679.PNG)

[2021-01-08 15:12] kigsandrew commented on #1007
The description is always: Deprecated-Do not use. I dont know the source of the error, i just followed your video on Export-M365DSCConfiguration followed by compile the configuration to MOF, which cannot do bse of the errors.

[2021-01-08 18:11] kigsandrew commented on #1007
For each of these errors, the property "Role Permissions" is missing, hence no string Array input. i don't know how to fix this.

[2021-01-08 20:10] NikCharlebois commented on #1007
I am submitting a PR that will filter out definitions without RolePermissions from the export. Since that parameter is mandatory, that is our only option.

[2021-01-08 20:18] #1007 closed

[2021-01-08 20:24] kigsandrew commented on #1007
Thanks , so i try again to do the export?

[2021-01-08 20:25] #1003 closed

[2021-01-08 20:38] NikCharlebois commented on #1007
You can either grab the Dev branch from GitHub or wait until next wednesday for release 1.21.113.1 to be published to the PowerShell Gallery before doing it. Thanks

[2021-01-08 21:01] kigsandrew commented on #1007
Ok thanks, how do i locate The dev branch!

[2021-01-08 23:47] kigsandrew commented on #1007
i managed to download the dev branch:Microsoft365DSC-Dev.zip, but i dont know what to run, after download.

[2021-01-09 00:01] desmay commented on #1007
You can use the Install-M365DSCDevBranch to install Dev code

[2021-01-09 00:59] kigsandrew commented on #1007
Thanks Desmay

[2021-01-09 09:30] robertreems commented on #1003
I havn't got the change to test it out. But again thanks you guys for the prompt response!

[2021-01-09 22:36] kigsandrew commented on #1007
i run the install-M365DSCDevBranch to install the Dev code but i still get the errors after exporting
![dev](https://user-images.githubusercontent.com/69600611/104109981-3f4aa180-52a1-11eb-835f-b079c4c6e670.PNG)

[2021-01-10 03:45] bubbletroubles commented on #973
@NikCharlebois  and @jeff29922 - any chance you can reply to the previous 3 posts to answer the questions? 👍

[2021-01-10 20:55] kigsandrew commented on #1007
This is the error i get at the end,  when i run Install-M365DSCDevBranch command
![error2](https://user-images.githubusercontent.com/69600611/104135154-3a96f380-535c-11eb-8bf1-03ba415644a7.PNG)

[2021-01-13 21:14] kigsandrew commented on #1007
@NikCharlebois, am double checking if Microsoft DSC version 1.21.113.1 was published today, i cannot seem to find it in the powershell gallery.

[2021-01-13 21:38] RVAHaver01 opened #1014 "NewResourceName: Named Locations"
### Description
 You are currently pulling AAD Conditional Access Policies but are not pulling Named Locations.  This could cause a failure if the Named Location you wish to use is not there.
### Proposed properties
 Please add Named Locations to the DSC so that they can be added for GEO Fencing reasons.  We typically exclude all outside of US for the vast majority of our customers.  We typically

[2021-01-13 21:54] RVAHaver01 commented on #1014
PowerShell was recently updated (10/2020) to allow you to get this information so this is the next logical step.

[2021-01-14 11:41] NikCharlebois commented on #1014
@peterabele is this something you can look into? Thanks

[2021-01-14 11:57] peterabele commented on #1014
Yes, I will develop the named location resource soon. Having named locations in the CA policies won't cause any failure, it is supported now, too. You can use named locations in location conditions when defining CA policies through DSC, and CA policy DSC export will contain the named locations configured under location conditions.
As soon as we'll have the named location resource, you will also be

[2021-01-14 13:03] #1002 closed

[2021-01-14 16:53] SebastianGoers opened #1018 "[MSFT_EXOAntiPhishPolicy] Deprecated parameters"
#### Details of the scenario you tried and the problem that is occurring

Checking values of the parameters

- TargetedDomainProtectionAction
- EnableAntispoofEnforcement

returns $null in DSC (in MSFT_EXOAntiPhishPolicy). Requesting their values in PS returns nothing. Maybe these have been deprecated.

#### Verbose logs showing the problem
[code]
which should work according to https://docs.micros

[2021-01-15 15:28] Kikaider commented on #949
The Service Principal method likely works, as I get a new error message, Authorization_RequestDenied, but I am still trying to figure out the API permissions required for the EXO component.

[2021-01-15 19:42] peterabele commented on #1014
Named Location DSC resource code is ready, will write the example and test module early next week, and do a PR.

[2021-01-15 19:44] RVAHaver01 commented on #1014
Great work.

David Haver
Manager, Infrastructure Services – Digital
Cherry Bekaert LLP
(O) 804-794-3491 | (D) 804-673-5762 | (C) 804-690-7669  <= The best number to reach me during COVID-19 times

From: Peter Abele <notifications@github.com>
Sent: Friday, January 15, 2021 2:43 PM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: David Haver <david.haver@cbh.com>; Author <autho

[2021-01-19 07:54] peterabele commented on #1014
Now finished with the  PR prerreqs, and sent the PR.

[2021-01-19 07:55] peterabele commented on #979
Module ready, sent the PR

[2021-01-19 13:51] RVAHaver01 commented on #1014
Peter,

Great, Thanks for the quick turnaround. We really appreciate it.

Regards,
David Haver
Manager, Infrastructure Services – Digital
Cherry Bekaert LLP
(O) 804-794-3491 | (D) 804-673-5762 | (C) 804-690-7669  <= The best number to reach me during COVID-19 times

From: Peter Abele <notifications@github.com>
Sent: Tuesday, January 19, 2021 2:55 AM
To: microsoft/Microsoft365DSC <Microsoft365DSC@n

[2021-01-19 14:02] RVAHaver01 commented on #1014
Peter and Company,

I was just introduced to the Microsoft Compliance Configuration Analyzer (Microsoft Compliance Configuration Analyzer for Compliance Manager - Microsoft 365 Compliance | Microsoft Docs<https://docs.microsoft.com/en-us/microsoft-365/compliance/compliance-manager-mcca?view=o365-worldwide>) tool yesterday.  It appears to me that this tool along with the Microsoft365DSC tool could

[2021-01-19 19:59] NikCharlebois opened #1023 "Rename GlobalAdminAccount property across the Board"
For Consideration - We should rename the GlobalAdminAccount across the board and keep support for it via an alias. GlobalAdminAccount gives the false impression that a Global Admin is required to interact with the resources.

[2021-01-21 20:43] hmank opened #1029 "Connect-MSCloudLoginPnP : The PnP.PowerShell Azure AD Application has not been granted access for this tenant."
#### Details of the scenario you tried and the problem that is occurring
I am running an export M365DscConfiguration in a local powershell session and fails on the error below when trying to connect to PNP.

#### Verbose logs showing the problem
I receive this error
Connect-MSCloudLoginPnP : The PnP.PowerShell Azure AD Application has not been granted access for this tenant. Please run 'Register-P

[2021-01-23 20:12] ykuijs commented on #1023
Totally agree with this idea. But since this a breaking change with serious impact, we need proper communication/planning for implementation.

[2021-01-27 01:45] pvinn opened #1031 "Error running initial export command"
#### Details of the scenario you tried and the problem that is occurring
 'Export-M365DSCConfiguration: Export command fails with error '
Installed new Powershell 7.1.1
Ran Install-Module Microsoft365DSC -Force -AllowClobber
Ran Install-M365DSCDevBranch

Receiving error below ..
PowerShell 7.1.1
Copyright (c) Microsoft Corporation.

https://aka.ms/powershell
Type 'help' to get help.

PS C:\Program

[2021-01-27 01:47] pvinn commented on #1031
Microsoft365DSC
1.21.120.1

[2021-01-27 09:36] SebastianGoers opened #1032 "Suggestion: Include Resource GUID in Eventlog"
We are using the Windows Eventlog entries to track down configuration drifts on our M365 tenants. Some resources allow multiple settings or policies in the DSC config, e.g. Conditional Access policies. In order for us to track down which policy causes a drift, it would be beneficial if we could have the GUID that’s being used for each configuration block in the eventlog. This would allow us to tra

[2021-01-27 12:55] rvahaver opened #1033 "Execute Command seems to hang right after PNP.PowerShell 1.2 warning message"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version of the DSC module that was used ('dev' if using current dev branch)

[2021-01-28 06:57] SebastianGoers opened #1036 "[AADConditionalAccessPolicy] Configuration drifts: false positives when using empty arrays"
#### Details of the scenario you tried and the problem that is occurring
When using an empty array for settings that take arrays as input, the comparison with the tenant setting will report a configuration drift. This is because the tenant value will be reported as $null whereas the acutal value in the config is an empty array @(). Not quite sure whether this is only true for this resource or a ge

[2021-01-28 11:48] rvahaver commented on #1031
Team,
I determined last night that if you deselect SharePoint and OneDrive then the script runs to completion.  So it must have something to do with the pnp.powershell install.

[2021-01-28 12:51] desmay commented on #1029
@hmank Please review this article on how grant permissions with new PNP Core https://dev.to/svarukala/introducing-the-new-pnp-powershell-based-on-net-core-3-1-and-learn-how-it-s-authentication-works-pn7

[2021-01-28 12:53] desmay commented on #1033
@rvahaver  Did you grant permissions to PNP Core in your tenant ? - Please review this article on how grant permissions with new PNP Core https://dev.to/svarukala/introducing-the-new-pnp-powershell-based-on-net-core-3-1-and-learn-how-it-s-authentication-works-pn7

[2021-01-28 12:54] desmay commented on #1031
Please review this article on how grant permissions with new PNP Core https://dev.to/svarukala/introducing-the-new-pnp-powershell-based-on-net-core-3-1-and-learn-how-it-s-authentication-works-pn7

[2021-01-28 15:51] pvinn commented on #1031
Thanks for the feedback, just to clarify a bit more, I get this error right after running Export-M365DSCConfiguration, and before the GUI shows up

[2021-01-28 15:56] rvahaver commented on #1031
No it was happening after the GUI and when it got to "Extracting [ODSettings]".  I granted the permissions that @desmay suggested above and now when I get to "Extracting [ODSettings]" it is just sitting there.  I did download the latest version of the Microsoft365DSC today also after granting the permissions.

[2021-01-28 21:37] #1029 closed

[2021-01-28 22:02] NikCharlebois commented on #1036
@peterabele can you have a look?

[2021-01-29 13:12] adkendall opened #1041 "sign into login.microsoftonline.com"
When running Export-M365DSCConfiguration I enter user name and password and click 'Start Extraction'.

I'm then redirected to the microsoft login and asked for my password again but get the following message::

AADSTS900440: Requests to tenants hosted in the public cloud are not supported on USGov endpoints. This user must sign into https://login.microsoftonline.com instead of https://login.micros

[2021-01-29 13:15] desmay commented on #1041
@adkendall Can you tell me if you are logging into a GCC or commercial O365 tenant ?

[2021-01-29 13:25] adkendall commented on #1041
Its commercial tenant via an EA agreement

[2021-02-01 08:11] peterabele commented on #1036
I can check&fix it this week

Feladó: Nik Charlebois<mailto:notifications@github.com>
Elküldve: Thursday, January 28, 2021 11:02 PM
Címzett: microsoft/Microsoft365DSC<mailto:Microsoft365DSC@noreply.github.com>
Másolatot kap: Peter Abele<mailto:Pabele@windowslive.com>; Assign<mailto:assign@noreply.github.com>
Tárgy: Re: [microsoft/Microsoft365DSC] [AADConditionalAccessPolicy] Configuration drifts:

[2021-02-01 14:12] NikCharlebois commented on #1032
While we can see how useful this would be for users, it is not an easy task to be able to obtain the information about the current DSC context from within a resource being executed. Also, with PowerShell 7 the process of executing a DSC resource may be different and therefore even if we were to be able to gather this info within the PoSh 5 flavor, it would have to be changed whenever we make a mov

[2021-02-04 01:35] Kikaider commented on #949
Most of the Teams resources use "$ConnectionMode = New-M365DSCConnection -Platform 'SkypeForBusiness'  -InboundParameters $PSBoundParameters".

New-M365DSCConnection uses Test-MsCloudLogin, so I tried:
Test-MSCloudLogin -Platform $Platform `
                -ApplicationId $InboundParameters.ApplicationId `
                -TenantId $InboundParameters.TenantId `
                -CertificateThumbpri

[2021-02-04 01:37] Kikaider commented on #949
Note that if $platform = "MicrosoftTeams" the Test-MsCloudLogin cmdlets work (both versions).

[2021-02-04 02:12] MichaelLaMontagne commented on #949
Basic auth for WinRM has been a long battle for Skype for Business Online PowerShell: https://docs.microsoft.com/en-us/skypeforbusiness/set-up-your-computer-for-windows-powershell/diagnose-problems-with-the-skype-for-business-online-connector#BKMKWinRMBasicAuth

[2021-02-05 11:07] SebastianGoers commented on #965
This isn't fixed yet, is it? I have had a look at the recent code changes in the module but these do not touch Get-TenantConfiguration , yet.

[2021-02-09 20:12] ararag commented on #1031
I seem to be having somewhat similar problems. Whenever trying to extract OneDrive or SharePoint settings it just hangs indefinitely at "[1/1] Extracting [ODSettings]..." or "[1/22] Extracting [SPOAccessControlSettings]...".
I just discovered M365DSC, so I let it run overnight (not knowing how long it should take), but still no progress. After that I tried both user based authentication and aad ap

[2021-02-09 20:50] NikCharlebois commented on #1031
We believe this is related to the way the new PnP.Powershell module interacts with parallel threads. We are working on a fix for this. In the meantime, doing an unattended export (use the -Quiet) switch will work.

[2021-02-09 21:00] rvahaver commented on #1031
Nik,

Great thank you for letting me know.

Regards,
David Haver
Manager, Infrastructure Services – Digital
Cherry Bekaert LLP
(O) 804-794-3491 | (D) 804-673-5762 | (C) 804-690-7669  <= The best number to reach me during COVID-19 times

From: Nik Charlebois <notifications@github.com>
Sent: Tuesday, February 9, 2021 3:51 PM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Davi

[2021-02-09 21:58] pvinn commented on #1031
Did not know that, thanks for the workaround ~!

[2021-02-10 05:13] ararag commented on #1031
Yes, it works with the quiet switch! Thank you!

[2021-02-10 09:04] SebastianGoers commented on #1036
@peterabele : Has this problem been solved? We also see that applying an empty array to ExcludeGroups is not having any effect (maybe this is related to the issue in this incident?). It's worth noting that no errors are being reported.

[2021-02-10 09:12] SebastianGoers commented on #1018
@NikCharlebois : We believe this is related to https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3713 It seems that more parameters are affected by this. We have noted changes at least for:

- EnableAntispoofEnforcement
- PhishThresholdLevel
- TargetedDomainProtectionAction
- TargetedUserProtectionAction

[2021-02-10 11:22] peterabele commented on #1036
@SebastianGoers , not it is not fixed yet, thanks for the additional details.

[2021-02-10 11:49] NikCharlebois commented on #1018
Based on the documentation for the New- cmdlet (https://docs.microsoft.com/en-us/powershell/module/exchange/new-antiphishpolicy?view=exchange-ps) the EnableAntispoofEnforcement parameter seem to have indeed been deprecated. The other 3 however are still available in the cmdlet (New-AntiphishPolicy -?)

 I will try to track down more information on this deprecation as we were not made aware, and wi

[2021-02-10 14:10] NikCharlebois commented on #1018
UPDATE: It appears that you are right. Even though the cmdlet's help specifies PhishThresholdLevel, TargetedDomainProtectionAction and TargetedUserProtectionAction that these are not officially supported by the cmdlet. We will be marking them as deprecated in the next release and will remove them from the splatted parameters when calling the New/Set

[2021-02-10 18:30] SebastianGoers opened #1052 "Full Export failes when creating a runspace."
#### Details of the scenario you tried and the problem that is occurring
Creating a full export with `Export-M365DSCConfiguration -GlobalAdminAccount $cred -quiet` failes.
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is run

[2021-02-11 06:44] SebastianGoers commented on #1036
Same seems to apply for IncludeLocations ... presumably all actions where an empty array is being used to set an attribute are affected.

[2021-02-11 09:10] Swampen opened #1053 "TeamsChannelsPolicy fails export with MFA"
After trying to export the TeamsChannelsPolicy resource, it results in an empty configuration.
[code]
I encountered this on a fresh installed Windows 10 instance.
After some investigation, I had to manually download the Skype for Business Online from Microsoft's website, since the `MSCloudLoginAssistant` module uses the `New-CsOnlineSession` cmdlet when MFA is required.Only then I am able to run a

[2021-02-11 09:59] SebastianGoers opened #1054 "[AADConditionalAccessPolicy] Incorrect error handling."
#### Details of the scenario you tried and the problem that is occurring
I have tested the module with an incomplete configuration (missing or empty includeUsers parameter). The logs show that the creation of the conditional access policy failes, but the error is not being reportet back to Start-DscConfiguration. This makes propper error handling rather difficult. I am using a try-catch for Start-

[2021-02-11 10:45] Apoc70 opened #1055 "Extracting EXOAcceptedDomains fails with Could not initiate the ReverseDSC Extraction error"
Performing a UI driven export extracting EXOAcceptedDomains fails.

PowerShell Output:
    |---[70/75] Attack Payload Author✅
    |---[71/75] Usage Summary Reports Reader✅
    |---[72/75] Domain Name Administrator✅
[9/120] Extracting [AADTenantDetails]...✅
[10/120] Extracting [EXOAcceptedDomain]...❌

Error log:
[code]

[2021-02-11 18:33] tiwood opened #1056 "Errors not terminating?"
I'm currently testing `Microsoft365DSC` and one of the first resources I've tried is `AADConditionalAccessPolicy`.
The `Start-DSCConfiguration` cmdlet completed successfully without errors but no CA policy was created. Running the command with `-Verbose` showed me the following errors:

![image](https://user-images.githubusercontent.com/6249819/107681622-92988100-6c9f-11eb-9db0-3f7874aa13e9.png)

[2021-02-11 18:34] tiwood commented on #1056
Related: https://github.com/microsoft/Microsoft365DSC/issues/1054

[2021-02-12 14:17] SebastianGoers opened #1057 "[AADConditionalAccessPolicy] Using a conditional access policy which uses UserTerms as grant control will fail"
#### Details of the scenario you tried and the problem that is occurring
I have used Microsoft 365 DSC to export a conditional access policy which has solely User Terms configured in the grant controls. As [AADConditionalAccessPolicy] doesn't support User Terms just yet, the import of the very same policy will fail.
#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue

[2021-02-12 15:26] hmank opened #1058 "Not extracting SCSensitivityLabels"
#### Details of the scenario you tried and the problem that is occurring
I'm extracting a configuration from a M365 tenant which contains sensitivity labels, however after the extraction the sensitivity labels are not extracted into the ps1 file.
#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed

[2021-02-16 22:28] aflopex opened #1060 "Microsoft365DSC: Could not load file or assembly 'netstandard, Version=2.0.0.0"
#### Details of the scenario you tried and the problem that is occurring
Trying to execute command "Import-Module Microsoft365DSC -Force" i get the following error:
Could not load file or assembly 'netstandard, Version=2.0.0.0

#### Verbose logs showing the problem
Import-Module : Could not load file or assembly 'netstandard, Version=2.0.0.0,
Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or on

[2021-02-17 16:23] SebastianGoers commented on #1036
@peterabele , we believe that the issue is in line https://github.com/microsoft/Microsoft365DSC/blob/8a5ac8ac386659bb03ce80714aa734525c3b0ae5/Modules/Microsoft365DSC/DSCResources/MSFT_AADConditionalAccessPolicy/MSFT_AADConditionalAccessPolicy.psm1#L320 of your code.

We assume that line https://github.com/microsoft/Microsoft365DSC/blob/8a5ac8ac386659bb03ce80714aa734525c3b0ae5/Modules/Microsoft365D

[2021-02-17 16:25] desmay commented on #1058
@hmank Is there an error file in directory where you ran extract?

[2021-02-17 16:29] hmank commented on #1058
No not at all, the remainder of the configuration exports I did notice that the labels were not in my export.

[2021-02-18 15:05] KenBenjamin opened #1063 "microsoft365dsc.com has an invalid SSL certificate"
The certificate is for *.azurewebsites.net, not microsoft365dsc.com so you get a browser warning. You should install a valid certificate so users aren't concerned about the site integrity.

[2021-02-18 17:03] EricHindrichsen opened #1064 "Test-TargetResource crashes for several EXO-related modules in release 1.21.217.1"
#### Details of the scenario you tried and the problem that is occurring
We updated our working DSC code from release 1.21.203.1 to release 1.21.217.1 without changing our configs. Suddenly, the following modules crash during a Test-TargetResource run:

- MSFT_O365AdminAuditLogConfig
- MSFT_SCFilePlanPropertyAuthority
- MSFT_EXOAntiPhishPolicy
- MSFT_EXOAcceptedDomain

They all crash with the same

[2021-02-19 19:29] DeanGross commented on #1063
I am seeing the same issue (👎

[2021-02-19 20:51] KenBenjamin commented on #1063
My associate had his malware app alert on it so it's more than an inconvenience.

[2021-02-20 09:08] bartvermeersch opened #1066 "Members and owners of AADMSGroup"
Hello

What are the current options or what will/should be developed to specify Azure AD group members and owners?

Can it be integrated in MST_AADMSGroup (similar to MSFT_O365Group), are we waiting for AzureADMSGroupMember cmdlets to become available or do we need to develop a MSFT_AADGroupMembers module?

Thanks!

[2021-02-22 13:27] DeanGross commented on #1063
I was telling my customer what a great resource this was and describing how I was going to use it to help them solve some of their multi-tenant management issues. Any idea how much longer it will take to get fixed?

[2021-02-22 15:11] jorisbaiutti commented on #1058
we have the same issue and also no error or warning. Tried 2 different Tenants

[2021-02-22 15:31] desmay commented on #1058
I was able to repro, I'll look into issue this week

[2021-02-22 15:46] jorisbaiutti commented on #1058
Thanks, we tried to find the issue and what we found so far is:
when we remove the skipmodulereload param => it works.
    if ($Global:CurrentModeIsExport)
    {
        $ConnectionMode = New-M365DSCConnection -Platform 'SecurityComplianceCenter' `
            -InboundParameters $PSBoundParameters `
            -SkipModuleReload $true
    }

[2021-02-22 19:34] sdearnest opened #1067 "Error Acquiring Token"
**Details of the scenario you tried and the problem that is occurring**

[code]

**Output showing the problem**

[code]

[2021-02-22 20:07] KenBenjamin commented on #637
Had to reboot the VM afterwards to get this fix to run. I added it into my prep.ps1 since it's required.

[2021-02-23 07:19] jorisbaiutti commented on #1067
I think the issue is in the MSCloudLoginAssistant module. I have the same issue with sensitivity labels https://github.com/microsoft/MSCloudLoginAssistant/issues/100

I already created a pull request for the security and compliance workload. I think we need to do the same for exchange online workload: https://github.com/microsoft/MSCloudLoginAssistant/blob/Dev/Modules/MSCloudLoginAssistant/Workloa

[2021-02-23 14:29] jeff29922 commented on #1063
@NikCharlebois let me know if you need help with this.

[2021-02-23 16:12] jeff29922 commented on #1033
Great info guys, this is helpful for a tenant extraction I am doing for a customer.

[2021-02-23 16:21] KenBenjamin opened #1068 "Export-M365DSCConfiguration: Dual monitors cause display issues"
#### Details of the scenario you tried and the problem that is occurring
If you have a dual-monitor setup, the GUI sizes based on the secondary display (in my case oriented in portrait) but displays on the primary display (in my case in landscape). When these monitors are not the same resolution or size, the primary display may not show all the content. Moving the window to the secondary display d

[2021-02-23 16:24] KenBenjamin opened #1069 "Export-M365DSCConfiguration: Display font scaling causes rendering issues"
#### Details of the scenario you tried and the problem that is occurring
If you have font scaling set to other than 100%, fields overlap in the GUI.

#### Verbose logs showing the problem

#### Suggested solution to the issue
Only temporary workaround is to go to 100% font scaling and adjust your display resolution downward to improve readability.

#### The DSC configuration that is used to reprod

[2021-02-23 18:07] edmund-davis opened #1070 "Images unavailable in HTML output"
#### Details of the scenario you tried and the problem that is occurring
Generating a report from a DSC script in HTML references image URIs which do not appear to exist.  For example:
src="http://microsoft365dsc.com/Images/AzureAD.jpg"

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possib

[2021-02-23 18:10] edmund-davis opened #1071 "New-M365DSCReportFromConfiguration: Export to each object type to a separate sheet in Excel"
### Description
It would be very helpful to be able to export each object type to a separate Excel sheet with each property as a column.
### Proposed properties

### Special considerations or limitations

[2021-02-23 21:51] ararag commented on #1070
This might have something to do with the ongoing certificate issue. Even though the links are http links they seem to be redirected to https. I'd imagine the certificate problem might cause the browser refusing to load the images from the https-source when the certificate isn't valid. I believe the problem should be resolved when the certificate issue gets corrected.

[2021-02-24 09:01] ykuijs commented on #1063
Just received a new certificate and applied it to the site. The issue is now resolved!

[2021-02-24 09:01] #1063 closed

[2021-02-24 09:20] ararag commented on #1064
I'm having the same problem. Also using 1.21.217.1

[2021-02-24 09:28] limjianan-camelody opened #1074 "When Export-M365DSCConfiguration via GUI and it always stuck on something.."
#### Details of the scenario you tried and the problem that is occurring
Weird issue.
I spined up a new server in Azure and try to run Export-M365DSCConfiguration using password options.
When i hit start export, it always stuck at some where. and it is quite confusing what happen.

I managed to finish this by only picking one workload (like Exchange), but not Lite or Default.

#### Verbose logs sh

[2021-02-24 09:41] ararag commented on #1074
Did you try running it with the -quiet parameter? I seem to remember having the same problem a while back and the quiet parameter worked for me.

[2021-02-24 09:58] ararag opened #1075 "New-M365DSCDeltaReport hangs indefinitely"
#### Details of the scenario you tried and the problem that is occurring
Running the following command will never complete:

New-M365DSCDeltaReport -Source "C:\M365DSC\source.ps1" -Destination "C:\M365DSC\Destination.ps1" -OutputPath "C:\M365DSC\Delta.html" -Verbose
VERBOSE: Obtaining Delta between the source and destination configurations

But nothing else happens.

#### Verbose logs showing the

[2021-02-24 10:29] ararag commented on #1064
Also crashing with MSFT_SCComplianceSearch:

Error:
"PowerShell DSC resource MSFT_SCComplianceSearch failed to execute Test-TargetResource functionality with error message
: The response content cannot be parsed because the Internet Explorer engine is not available, or Internet Explorer's f
irst-launch configuration is not complete. Specify the UseBasicParsing parameter and try again."

The MSFT_E

[2021-02-24 13:21] desmay commented on #1070
This should be resolved now that certificate is renewed

[2021-02-24 14:18] teamneroblanco opened #1076 "Hang when Exporting config via UI, and error via Quiet"
installed the 1.21.217.1 of Microsoft365DSC, running as admin with a Global Admin account that has MFA enabled.

If using the UI mode then it will prompt for MFA to begin with but then hangs at EXOAcceptedDomain.  If I use the -Quiet parameter instead then again it promtps for MFA to start, but then errors as follows

[10/118] Extracting [EXOAcceptedDomain]...Error Acquiring Token:
System.Exceptio

[2021-02-24 16:25] hmank commented on #637
I don't have a VM, i'm running my scripts in an Azure Run Book.

[2021-02-24 16:29] ykuijs commented on #637
I created an issue for MSCloudLoginAssistant this morning: microsoft/MSCloudLoginAssistant#102

I haven't tested this yet, but I suspect fixing that issue will fix this issue as well.

[2021-02-25 07:55] limjianan-camelody commented on #1074
Release 1.21.224.1 fix the issues. not sure what have changed.

[2021-02-25 08:25] #1074 closed

[2021-02-25 08:32] EricHindrichsen commented on #1064
With release 1.21.224.1 reverting back to  ExchangeOnlineManagement 2.0.3 the error messages are gone now, thank you! I'll close the issue.

@ararag The additional issues you mentioned sound like unrelated problems to me. Please open separate issue reports for each problem so they can be investigated and tracked correctly.

[2021-02-25 08:32] #1064 closed

[2021-02-25 11:28] ykuijs commented on #1076
Please update to the most recent version: 1.21.224.1. The Grant Type error is fixed in that version.

The issue of the hanging export is a known issue when selecting SharePoint/OneDrive resources. Please use the Quiet workaround for that, while we are looking at a way to resolve the issue.

[2021-02-25 11:30] ykuijs commented on #1070
This was indeed caused by the SSL issue, which was solved yesterday. Closing this issue now. Please reopen if the issue still occurs.

[2021-02-25 11:30] #1070 closed

[2021-02-25 11:32] ykuijs commented on #1069
Unfortunately this is correct. The UI is created using PowerShell code, which means we cannot use any GUI editor. That makes developing a proper UI really difficult. Right now the only workaround is to switch back to 100% scaling.

We are looking at a ways to solve this issue.

[2021-02-25 11:35] ykuijs commented on #1068
This is caused by the same issue as mentioned in issue #1069:

Unfortunately this is correct. The UI is created using PowerShell code, which means we cannot use any GUI editor. That makes developing a proper UI really difficult. Right now the only workaround is to switch back one display.

We are looking at a ways to solve this issue.

[2021-02-25 16:10] teamneroblanco commented on #1076
Perfect thanks, got further!  I'll raise a new issue for the next thing

[2021-02-25 16:14] teamneroblanco opened #1079 "Exporting EXO Shared Mailbox when > 1000 mailboxes"
For every Shared Mailbox when exporting EXO Shared Mailboxes, we see the following.  Either -ResultSize Unlimited should be added, or perhaps -Filter if you're only meaning to get a single Shared Mailbox for each.   In larger tenants -ResultSize Unlimited could take an extraordinary length of time

---

WARNING: By default, only the first 1000 items are returned. Use the ResultSize parameter to sp

[2021-02-26 09:22] shammyowens opened #1081 "Command was found in module 'Microsoft365DSC' but the module could not be loaded"
#### Details of the scenario you tried and the problem that is occurring

I have a DevOps VM agent and build/release pipeline configured as per this instruction guide.  https://microsoft365dsc.com/Pages/Resources/Whitepapers/Managing%20Microsoft%20365%20with%20Microsoft365Dsc%20and%20Azure%20DevOps.pdf

Everything was working fine, but when I tried to amend/change the configurationdata.ps1 file mo

[2021-02-26 12:38] desmay commented on #1075
Take a look at the Microsoft 365 module version number of between source and destination and make sure they are identical. I had report hang when not the same.

[2021-02-26 12:41] desmay commented on #1058
I have a fix for this will be released next week. There was a regression bug but if you install Install-Module -Name Microsoft365DSC -RequiredVersion 1.21.127.1 extract of labels should work

[2021-02-26 15:57] ykuijs commented on #1081
Hi @shammyowens What happens if you log onto the machine and run ```Import-Module Microsoft365Dsc``` manually?

[2021-02-26 15:58] ykuijs commented on #1076
Since this issue is fixed, closing the issue

[2021-02-26 15:58] #1076 closed

[2021-02-26 16:05] ykuijs opened #1082 "[Utils module] Passing CertificatePassword as PSCredential instead of SecureString"
#### Details of the scenario you tried and the problem that is occurring
When using SPOSite with the parameters CertificatePath and CertificatePassword, the Set method throws an error message stating that it cannot convert a PSCredential to a SecureString:

"System.Security.SecureString".

#### Verbose logs showing the problem

#### Suggested solution to the issue

On the following line, the Passw

[2021-02-26 17:27] shammyowens commented on #1081
Hi @ykuijs that would work fine and I could use things like  Export-M365DSCConfiguration directly on the agent.

I have done some more testing I noticed that duplicates modules were installed some in my "Documents" folder and some in "Program Files".  After removing all of from both locations, it appears to work again now.  I will keep an eye on it to see if it occurs again.

[2021-03-01 12:58] EricHindrichsen commented on #1036
Hi @peterabele, how is it going with the bugfix?

[2021-03-01 18:39] hmank commented on #1058
Hi @desmay , I just upgraded my dsc module to 1.21.127.1 and re-ran the extract the Labels are not included in the extract.

[2021-03-03 07:36] ykuijs commented on #1081
Good to hear. This usually is the case of this error message. PowerShell should tell you this when you run Import-Module manually 😉

Closing the issue now.

[2021-03-03 07:36] #1081 closed

[2021-03-03 11:05] Swampen commented on #1053
The pull request https://github.com/microsoft/MSCloudLoginAssistant/pull/107 will fix this

[2021-03-04 11:20] mikespolk opened #1091 ""The following resources cannot be extracted" warning when using certificate authentication"
#### Details of the scenario you tried and the problem that is occurring
I tried to use certificate authentication during M365 DSC Configuration, with following command:

_Export-M365DSCConfiguration -Verbose `
-Quiet `
-CertificateThumbprint 123456789012345678901234567890 `
-ApplicationId 12345678-1234-12334-12343-123456789012 `
-TenantId tenantname.onmicrosoft.com `
-Path C:\Temp\ `
-FileName te

[2021-03-07 19:24] DeanGross opened #1093 "Connecting to tenant as a guest admin"
If we are invited as a guest to a clients tenant and they have added us to the global admin role, how can connect and run this tool?

[2021-03-10 15:59] #1082 closed

[2021-03-10 16:58] markdepalma commented on #1060
Make sure you have .NET installed, .NET is a dependency. You should be fine installing .NET 4.8 which is .NET standard compatible.

[2021-03-10 17:04] aflopex commented on #1060
This is great Thank you very much, we will try that.

From: Mark DePalma <notifications@github.com>
Sent: Wednesday, March 10, 2021 11:59 AM
To: microsoft/Microsoft365DSC <Microsoft365DSC@noreply.github.com>
Cc: Lopez, Andres <andres.lopez@metlife.com>; Author <author@noreply.github.com>
Subject: [EXT] Re: [microsoft/Microsoft365DSC] Microsoft365DSC: Could not load file or assembly 'netstandard, V

[2021-03-11 04:54] ararag opened #1096 "Test-DSCConfiguration fails with EXOAcceptedDomain"
Running Test-DSCConfiguration fails on EXOAcceptedDomain.

**Error logged:**
Event ID 4252:
MIResult: 1
Error Message: PowerShell DSC resource MSFT_EXOAcceptedDomain  failed to execute Test-TargetResource functionality with error message: Cannot retrieve the dynamic parameters for the cmdlet. Method invocation failed because [Microsoft.Exchange.Management.AdminApiProvider.Utility] does not contain

[2021-03-11 17:45] aflopex commented on #1060
This worked, Thank you very much Mark.

From: Mark DePalma ***@***.***>
Sent: Wednesday, March 10, 2021 11:59 AM
To: microsoft/Microsoft365DSC ***@***.***>
Cc: Lopez, Andres ***@***.***>; Author ***@***.***>
Subject: [EXT] Re: [microsoft/Microsoft365DSC] Microsoft365DSC: Could not load file or assembly 'netstandard, Version=2.0.0.0 (#1060)

Make sure you have .NET installed, .NET is a dependency.

[2021-03-12 09:41] mikespolk commented on #1091
I answer this myself, after realizing the tool behaviour;
When running the Export-M365DSCConfiguration command in interactive mode, deselecting the Credentials checkbox and then selecting the Certificate and Application ID checkboxes, **grays out** part of component checkboxes. That most probably means that the tool cannot extract those components. For example, all stuff in Intune category gets gr

[2021-03-12 09:41] #1091 closed

[2021-03-14 15:24] HaloX69 opened #1097 "The Test-TargetSource for resource EXOOwaMailboxPolicy returns a false (non-compliant) when it should be in 1.21.224.1"
I can manually invoke-dscresource for get, set without issues.  When I run test it fails stating that it was throttled by O365 due to too many open PSSessions; but this is a rabbit hole.  When I run in debug mode and Start-DSCConfiguration.  The Get-TargetSource does not add the fields CertificateThumbprint, ApplicationId TenantId to the returned CurrentValues hashtable and when calling Test-M365D

[2021-03-15 07:38] mikespolk opened #1098 "When Export-M365DSCConfiguration parameters are in "wrong" order, results file becomes empty!"
ISSUE TITLE:
    Export-M365DSCConfiguration: parameters handling sucks

    ISSUE DESCRIPTION (this template):
    Please provide information regarding your issue under each header below.

This resulted in an erroneous (=empty) ps1 results file:
PS C:\> Export-M365DSCConfiguration -Quiet -CertificateThumbprint 12345678 -ApplicationId 1234-12345678 -TenantId mytenant.onmicrosoft.com -Path c:\Temp

[2021-03-15 08:14] mikespolk commented on #1098
The weird thing is that when following the console output, all data gets listed there, like this:
[1/3] Extracting [AADConditio
    |---[1/5] AllApps__Browse...
    |---[2/5] AllApps__Modern...
    |---[3/5] AllApps__Legacy...
      :

but depending on parameters order, resulting ps1 files may be empty

[2021-03-15 11:15] rajukiranlr opened #1099 "Extracting the Security and compliance configration - without Global admin user ID."
Hi Team,

i am trying to extract the security and compliance configuration using the below command, but it is asking for Global admin user ID and password, I am providing the App Registration ID and Certificate details.

Export-M365DSCConfiguration -Quiet -ApplicationId 11ef1234-dddd-4edf-3456-a10b0111f337 -CertificateThumbprint 00F22C541F698137A8880808E078C11B55BD60AC -TenantId teant.onmicrosoft.

[2021-03-15 11:40] desmay commented on #1099
@rajukiranlr  Security & Compliance resources only support user id and password.

[2021-03-15 12:12] rajukiranlr commented on #1099
Thanks for the quick reply, is there anything in the Roadmap to include it ?

[2021-03-15 19:04] HaloX69 opened #1100 "MSFT_EXOHostedContentFilterPolicy - This event indicates that a non-terminating error was thrown when DSCEngine was executing Set-TargetResource on MSFT_EXOHostedContentFilterPolicy DSC resource. FullyQualifiedErrorId is MethodCountCouldNotFindBest. Error Message is Cannot find an overload for "Contains" and the argument count: "1""
It appears that the following resources all fail on the Set-TargetResource with the same exception when using a certificate for authentication.
Module version: 1.21.224.1

MSFT_EXODkimSigningConfig
MSFT_EXOClientAccessRule
MSFT_EXOCASMailboxPlan
MSFT_EXOAvailabilityAddressSpace
MSFT_EXOAtpPolicyForO365
MSFT_EXOAntiPhishRule
MSFT_EXOHostedContentFilterRule
MSFT_EXOHostedOutboundSpamFilterPolicy
MSF

[2021-03-16 10:31] rajukiranlr commented on #1099
can we get the list, which all Components requires Global Admin to extract the data ?

[2021-03-16 12:26] desmay commented on #1099
@rajukiranlr As soon as SCC underlying PowerShell cmdlets support service principals we'll add support to M365DSC. Here is breakdown of workloads and authentication

![image](https://user-images.githubusercontent.com/43035577/111308547-32478700-8631-11eb-97bf-279461033daa.png)

[2021-03-16 13:11] rajukiranlr commented on #1099
Thanks for the info,

i was getting the below error not sure what level of permission should my App Registration ID should be having to extract the Exchange online configuration, could you please guide me.

PS C:\Users\rajukiranlr> Export-M365DSCConfiguration -Quiet -TenantId tenant.onmicrosoft.com -ApplicationId 83ef5
058-aaaa-4edf-1111-a10b0878f607 -CertificateThumbprint 74F22C541F698137A111111E

[2021-03-16 13:18] desmay commented on #1099
Please review this article on docs site - https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps

[2021-03-16 15:56] alisalih1 opened #1101 "Export-M365DSCConfiguration hanging during run"
#### Details of the scenario you tried and the problem that is occurring
Export-M365DSCConfiguration configuration is hanging and not progressing while exporting simple OneDrive configuration. The authentication is done through App Registration and Certificate Auth as shown in the picture below.
![image](https://user-images.githubusercontent.com/21177498/111339502-303ff100-864e-11eb-9df1-3df5fb09f

[2021-03-16 17:04] desmay commented on #1101
@alisalih1 There is an issue with GUI and it hangs with new version of PNP so you must use run using the command line. In you case it would be the following:

`Export-M365DSCConfiguration -Quiet -ComponentsToExtract @('ODSettings') -ApplicationId XXXXXXX  -TenantId contoso.onmicrosoft.com -CertificateThumbprint XXXXXX -path "c\DSC"`

We are looking into solutions with the GUI hanging bug.

[2021-03-16 20:22] j16uk opened #1102 "Unable to run with MFA account - get prompted a few times and manage to authenticate but the error below appears"
Unable to finish this - I have run the  below:

$creds = Get-Credential
Export-M365DSCConfiguration -Quiet -Path C:\TEMP -FileName test1.ps1 -GlobalAdminAccount $creds

[102/120] Extracting [TeamsCallingPolicy]...Connect-MSCloudLoginSkypeForBusiness : One or more errors occurred.: AADSTS50076: Due to a configuration change made
by your administrator, or because you moved to a new location, you mus

[2021-03-16 21:40] Swampen commented on #1102
This is fixed in the newest release of MSCloudLoginAssistant.
The version just have to be updated for this module. Probably for the next release

As a workaround you can login to with `Connect-MSCloudLoginSkypeForBusiness` and enter your credentials **before** starting the export

[2021-03-17 16:41] jeff29922 commented on #1101
We recommend running a tenant extraction with the -Quiet switch for the time being.  The core team is investigating a long term solution for the GUI hang.  We will keep everyone informed on progress.

[2021-03-17 16:44] jeff29922 commented on #1098
@mikespolk thanks for reporting this issue.  The core development team is investigating.

[2021-03-17 16:49] jeff29922 commented on #1093
@DeanGross this is an untested scenario.  I will follow up with the core team to see if this is supported.

[2021-03-17 16:50] jeff29922 commented on #1093
@NikCharlebois please provide feedback on wither this scenario is supported?

[2021-03-17 17:39] alisalih1 commented on #1101
Understoood -  I did convert everything to -quiet and was performing as should. thanks.

[2021-03-18 12:20] Swampen commented on #1053
Solved in release 1.21.317.1

[2021-03-18 12:20] #1053 closed

[2021-03-18 12:21] Swampen commented on #1102
I can confirm that this is fixed in the newest release (1.21.317.1)

[2021-03-18 12:46] jensotto opened #1108 "SPOSiteScript: GlobalAdminAccount is required in Get-TargetResource"
#### Details of the scenario you tried and the problem that is occurring
Applying or testing a SPOSiteScript using certificate throws error.

#### Verbose logs showing the problem
PowerShell Desired State Configuration does not support execution of commands in an interactive mode. Please ensure
that the underlying command is not prompting for user input, such as missing mandatory parameter, confir

[2021-03-18 13:23] jensotto opened #1112 "SPOSiteScript: Unable to update existing site script"
#### Details of the scenario you tried and the problem that is occurring
Existing site script is not updated by SPOSiteScript

#### Verbose logs showing the problem
No error is shown. Configuration seems to fail, but testing the configuration returns the resource not in desired state.

#### Suggested solution to the issue
Code references incorrect variable
https://github.com/microsoft/Microsoft365

[2021-03-18 13:25] ykuijs commented on #1101
Check out this article in the Wiki for more info: https://github.com/microsoft/Microsoft365DSC/wiki/Known-Issues#export-m365dscconfiguration-hangs-when-using-gui-to-export-sharepoint-online-and-onedrive-resources

[2021-03-19 09:01] rajukiranlr commented on #1099
Hi All, Any one please help, i am got stuck in the below issue, not able to continue .

seeing error while running below command also, not sure what wrong i am doing.

PS C:\Users\rajukiranlr\ConfigureLCM> Get-DscConfigurationStatus

[code]

[2021-03-19 14:04] rajukiranlr opened #1114 "Azure App ID, Tenant ID and CertificateThumbprint ID not getting added to ps1 or Mof file"
Hi Team,
I am using the Azure App ID and Certificate Thumbprint for Authentication, using same i able to extract the EXO data to Ps1 file,

ConfigurationData.psd1 ( shows my Azure App ID, Tenant ID and certificate Thumbprint details.

M365TenantConfig.ps1 show the configuration, without anything Azure App ID and tenant ID or certificate thumbprint details. )

after running M365Tenantconfig.ps1 fil

[2021-03-22 12:30] desmay commented on #1114
The compiled MOF file should have everything you need. If you need to push config to another tenant then you can update the configutationdata.ps1 with new values and compile

[2021-03-22 13:20] rajukiranlr commented on #1114
@ Desmay,

Thanks for the reply,

my required is to monitor any configuration drift in EXO and check the event ID for changes.

my setup
Authentication = Azure Apps ID, Certificate Thumbprint and Tenant ID.

able to extract the configuration,
Export-M365DSCConfiguration -Quiet -TenantId tenant.onmicrosoft.com -ApplicationId 11ef5058-cdfb-4edf-1111-a10b1111f607 -CertificateThumbprint 74F11C542F6981

[2021-03-22 13:27] desmay commented on #1114
We have several videos on our [YouTube](https://www.youtube.com/channel/UCveScabVT6pxzqYgGRu17iw) channel that can help you.  You could also use Azure DevOps pipeline we published a [white paper](https://microsoft365dsc.com/Pages/Resources/Whitepapers/Managing%20Microsoft%20365%20with%20Microsoft365Dsc%20and%20Azure%20DevOps.pdf) on this solution.

[2021-03-23 16:59] aflopex opened #1118 "EXO: Unable to run EXO Export Error Method invocation failed because [Microsoft.Exchange.Management.AdminApiProvider.Utility] does not contain a method named 'IsCloudShellEnvironment'"
#### Details of the scenario you tried and the problem that is occurring
I get a failure and an error when executing the following command to export EXO configuration. This started happening suddenly after it several exports using the same command were successful

![image](https://user-images.githubusercontent.com/50927492/112186405-7b6e7c80-8bd7-11eb-9abf-c925fe44c39c.png)

#### Verbose logs show

[2021-03-24 00:47] j16uk commented on #1102
Apologies for the delayed response, I can confirm the workaround has worked, thank you.
@jeff29922

[2021-03-24 00:47] #1102 closed

[2021-03-24 08:36] #1108 closed

[2021-03-24 08:36] #1112 closed

[2021-03-24 09:42] rajukiranlr opened #1121 "Test-DSCConfiguration -ReferenceConfiguration not working"
Thanks for the above link, now am able to extract the Exchange configuration Data, **now next step is to  just monitor for any changes in the configuration and find the Event for the same,**
if you have any documents to for same please share it.

**current configuration -**
Authentication using App ID and Certificate
Wordload = EXO

Test-DSCConfiguration -ReferenceConfiguration "C:\Users\rajukiran